<h1 *ngIf="data.organisation != null" class="update-event-title" mat-dialog-title>Création d'un événement
  par {{data.organisation.name}}</h1>
<h1 *ngIf="data.organisation === null" class="update-event-title" mat-dialog-title>Création d'un événement
  par {{data.userSession.username}}</h1>
<form (ngSubmit)="onClickSubmit(formData.value)" [formGroup]="formData">
  <div mat-dialog-content>
    <div class="update-event-grid">
      <div class="form-field-name-event">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'événement</mat-label>
          <input formControlName="nameEvent" matInput placeholder="Nom de l'événement" required>
        </mat-form-field>
      </div>
      <div class="form-field-description">
        <mat-form-field>
          <mat-label>Description de l'événement</mat-label>
          <textarea class="textarea-description" formControlName="descriptionEvent" matInput
                    placeholder="Ex. L'événement se ..."></textarea>
        </mat-form-field>
      </div>
      <div class="form-field-address">
        <mat-form-field appearance="fill">
          <mat-label>Adresse de l'événement</mat-label>
          <div #origin="matAutocompleteOrigin" class="form-group w-4" matAutocompleteOrigin>
              <input (input)="searchAddress($event)" [matAutocompleteConnectedTo]="origin" [matAutocomplete]="auto" formControlName="address"
                     matInput placeholder="Adresse" required class="form-field-address">
          </div>
          <mat-autocomplete #auto="matAutocomplete" class="user-select-none" >
            <mat-option *ngFor="let option of addresses"
                        [value]="option?.address?.house_number + ' ' + option?.address?.road + ', ' + option?.address?.town +' '+ option?.address?.postcode+', '+ option?.address?.country">
              {{option?.address?.house_number}} {{option?.address?.road}}, {{option?.address?.town}} {{option?.address?.postcode}}, {{option?.address?.country}}</mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>
      <div class="form-field-participant-limit">
        <mat-form-field appearance="fill">
          <mat-label>Limite de participants</mat-label>
          <input [formControl]="limitParticipant" formControlName="participantsLimitEvent" matInput min="2"
                 placeholder="Ex. 30"
                 required type="number">
          <mat-error *ngIf="limitParticipant.invalid">Min: 2</mat-error>
        </mat-form-field>
      </div>
      <div class="form-field-categories">
        <mat-form-field appearance="fill">
          <mat-label>Catégorie</mat-label>
          <mat-select formControlName="categoryEvent" matNativeControl required>
            <mat-option *ngFor="let category of listCategory$" value="{{category.id}}">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field-date-picker-start">
        <mat-form-field appearance="fill">
          <mat-label>Date de début</mat-label>
          <input [ngxMatDatetimePicker]="pickerFrom" formControlName="startDateEvent" matInput
                 placeholder="Date de début" required>
          <mat-datepicker-toggle [for]="pickerFrom" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFrom></ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div class="form-field-date-picker-end">
        <mat-form-field appearance="fill">
          <mat-label>Date de fin</mat-label>
          <input [ngxMatDatetimePicker]="pickerTo" formControlName="endDateEvent" matInput placeholder="Date de fin"
                 required>
          <mat-datepicker-toggle [for]="pickerTo" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerTo></ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div class="form-field-file">
        <label for="myfile">Choisissez une image :</label>
        <input data-max-size="2048" formControlName="pictureFile" id="myfile" name="myfile" type="file">
      </div>
    </div>
  </div>
  <div class="dialog-actions-update-event" mat-dialog-actions>
    <div class="button-grid-update-event">
      <div class="button-cancel">
        <button (click)="onNoClick()" mat-button type="button">Annuler</button>
      </div>
      <div class="button-send">
        <button class="button-send" mat-raised-button type="submit">Envoyer</button>
      </div>
    </div>
  </div>
</form>

