<h1 *ngIf="data.organisation != null" class="create-event-title" mat-dialog-title>Création d'un événement
  par {{data.organisation.name}}</h1>
<h1 *ngIf="data.organisation === null" class="create-event-title" mat-dialog-title>Création d'un événement
  par {{(_authService.user|async).username}}</h1>
<mat-divider></mat-divider>
<form #it="ngForm" (ngSubmit)="onClickSubmit()">
  <div mat-dialog-content>
    <div class="create-event-grid">
      <div class="form-field-name-event">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'Évènement</mat-label>
          <input [(ngModel)]="newEvent.name" name="name" matInput placeholder="Nom de l'Évènement"
                 required>
        </mat-form-field>
      </div>
      <div class="form-field-participant-limit">
        <mat-form-field appearance="fill">
          <mat-label>Limite de participants</mat-label>
          <input [(ngModel)]="newEvent.participantsLimit" name="participantsLimit" matInput min="2"
                 placeholder="Ex. 30" required type="number">
          <mat-error *ngIf="limitParticipant.invalid">Min: 2</mat-error>
        </mat-form-field>
      </div>
      <div class="form-field-address">
        <mat-form-field appearance="fill">
          <mat-label>Adresse de l'événement</mat-label>
          <div #origin="matAutocompleteOrigin" class="form-group" matAutocompleteOrigin>
            <label>
              <input (input)="searchAddress($event)" [matAutocompleteConnectedTo]="origin" [matAutocomplete]="auto" [(ngModel)]="postalAddress" name="postalAddress"
                     matInput placeholder="Adresse" required>
            </label>
          </div>
          <mat-autocomplete #auto="matAutocomplete" class="user-select-none" >
            <mat-option *ngFor="let option of addresses"
                        [value]="option?.address?.house_number + ' ' + option?.address?.road + ', ' + option?.address?.town +' '+ option?.address?.postcode+', '+ option?.address?.country">
              {{option?.address?.house_number}} {{option?.address?.road}}, {{option?.address?.town}} {{option?.address?.postcode}}, {{option?.address?.country}}</mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>
      <div class="form-field-date-picker-start">
        <mat-form-field appearance="fill">
          <mat-label>Date de début</mat-label>
          <input [ngxMatDatetimePicker]="pickerFrom" [(ngModel)]="newEvent.startDate" matInput name="startDate"
                 placeholder="Date de début" required>
          <mat-datepicker-toggle [for]="pickerFrom" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFrom></ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div class="form-field-date-picker-end">
        <mat-form-field appearance="fill">
          <mat-label>Date de fin</mat-label>
          <input [ngxMatDatetimePicker]="pickerTo" [(ngModel)]="newEvent.endDate"  name="endDate" matInput placeholder="Date de fin"
                 required>
          <mat-datepicker-toggle [for]="pickerTo" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerTo></ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
    </div>
    <div class="form-field-categories">
      <mat-form-field appearance="fill">
        <mat-label>Catégorie</mat-label>
        <mat-select [(ngModel)]="newEvent.category.id"  name="category" matNativeControl required>
          <mat-option *ngFor="let category of (_categoryService.categories|async)" value="{{category.id}}">{{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="form-field-description">
      <mat-form-field>
        <mat-label>Description de l'Évènement</mat-label>
        <textarea [(ngModel)]="newEvent.description" class="textarea-description" name="description"
                  matInput placeholder="Ex. L'Évènement se ..."></textarea>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="form-field-create-picture">
      <a (click)="pictureInput.click()">
        <img alt="" class="rounded" height="300px"
             *ngIf=" media === null"
             [src]="newEvent.picture != undefined? newEvent.picture.link: '../../../../assets/images/no-image.png'"
             style="object-fit: none" width="100%">
        <img alt="" class="rounded" height="300px"
             *ngIf="media !== null"
             [src]="mediaURL"
             style="object-fit: none" width="100%">
      </a>
      <input hidden (change)="onPictureSelected()" [ngModel]="newEvent.picture" name="picture" #pictureInput type="file" id="picture">
    </div>

  </div>
  <mat-divider></mat-divider>
  <div class="dialog-actions-create-event" mat-dialog-actions>
    <div class="button-grid-create-event">
      <div class="button-cancel">
        <button (click)="onNoClick()" mat-button type="button">Annuler</button>
      </div>
      <div class="button-send">
        <button class="button-send" mat-raised-button type="submit">Envoyer</button>
      </div>
    </div>
  </div>
</form>
