<div class="row m-0">
  <div class="col-md-3 my-3">
    <div class="position-fixed">
      <app-return-button></app-return-button>
      <div class="event-list-filter mb-3 my-5">
        <app-event-filter (events)="eventsFilter$ = $event"></app-event-filter>
      </div>
    </div>
  </div>
  <div class="col-md-5 my-5">
    <div *ngFor="let event of eventsFilter$">
      <div *ngIf="event != undefined" class="event-list-item m-2">
        <app-card-event [event]="event"></app-card-event>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-3 d-none d-sm-block d-sm-block d-sm-none d-md-block">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>
