<mat-card *ngIf="canShow" class="event-card-list">
  <div class="img-card-event">
    <a [routerLink]="['/event/' + event.id]">
      <img
        [src]="event.picture != undefined? env.baseUrl + '/' + event.picture.link:'https://www.ventsud.com/app/uploads/2019/06/belles_plages_Plage_des_Aresquiers_%C2%A9_Delemotte-1360x906.jpg'"
        alt="" class="rounded"
        style="">
    </a>
  </div>
  <div class="titre-card-event">
    <a [routerLink]="['/event/' + event.id]">
      <p>{{event.name}}</p>
    </a>
  </div>
  <div class="orga-card-event">
    <p *ngIf="event.organisation != null"><i aria-hidden="true" class="fa fa-user"></i>  {{event.organisation.name}}</p>
    <p *ngIf="event.organisation === null"><i aria-hidden="true" class="fa fa-user"></i>  {{event.user.username}}
      <fa-icon *ngIf="event.user.certification" [icon]="faCheckCircle"></fa-icon>
    </p>
  </div>
  <div class="date-card-event">
    <p><i class="fas fa-clock"></i>
      {{event.startDate | date:"dd/MM/YYYY HH:MM"}}
      -- {{event.endDate | date:"dd/MM/YYYY HH:MM"}}</p>
  </div>
  <div class="category-card-event">
    <p><i class="fas fa-tags"></i> {{event.category.name}}</p>
  </div>
  <div class="localisation-card-event">
    <p><i class="fas fa-map-marked"></i>  {{getLocalisation()}}</p>
  </div>
  <div class="button-join">
    <button (click)="this.joinEvent(event.id)" *ngIf="isAbleToJoin" class="ml-auto button-join-event" mat-raised-button>
      Rejoindre
    </button>
    <button (click)="this.leaveEvent(event.id)" *ngIf="!isAbleToJoin" class="ml-auto button-join-event"
            mat-raised-button>Quitter
    </button>
  </div>
</mat-card>
