<mat-card class="event-card-list">
  <div class="img-card-event">
    <a [routerLink]="['/event/' + event?.id]">
      <img [src]=" event?.picture?.link | imageUrl:1360:906"
           alt=""
           class="rounded" style="object-fit: cover">
    </a>
  </div>
  <div class="titre-card-event">
    <a [routerLink]="['/event/' + event?.id]">
      <p>{{event?.name}}</p>
    </a>
  </div>
  <div class="orga-card-event">
    <p *ngIf="event?.organisation !== null">
      <fa-icon [icon]="faUser"></fa-icon>
      {{event?.organisation?.name}}
    </p>
    <p *ngIf="event?.organisation === null">
      <fa-icon [icon]="faUser"></fa-icon>
      {{event?.user?.username}}
      <fa-icon *ngIf="event?.user?.certification" [icon]="faCheckCircle"></fa-icon>
    </p>
  </div>
  <div class="date-card-event">
    <p style="font-size: 13px">
      <fa-icon [icon]="faClock"></fa-icon>
      {{event.startDate | date:"dd/MM/YYYY HH:MM"}}
      -- {{event.endDate | date:"dd/MM/YYYY HH:MM"}}</p>
  </div>
  <div class="category-card-event">
    <p>
      <fa-icon [icon]="faTags"></fa-icon>
      {{event?.category?.name}}</p>
  </div>
  <div class="localisation-card-event">
    <p>
      <fa-icon [icon]="faMapMarked"></fa-icon>
      {{event.address?.house_number}}, {{event.address?.road}}, {{event.address?.town}} {{event.address?.postcode}}
      , {{event.address?.country}}</p>
  </div>
  <div class="button-join">
    <button (click)="this.joinEvent(event?.id)" *ngIf="!event.isMember" class="ml-auto button-join-event"
            mat-raised-button>
      Rejoindre
    </button>
    <button (click)="this.leaveEvent(event?.id)" *ngIf="event.isMember" class="ml-auto button-join-event"
            mat-raised-button>Quitter
    </button>
  </div>
</mat-card>
