.user-card-full {
  display: inline-block;
  position: relative;
  width: 100%;
}

.user-card-display {
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(229, 229, 229, 0.08) 0%, #E5E5E5 63.02%);
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 50%;
  border-radius: 5px;
}

.user-card-div {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}

.user-card-img-profil {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 15%;
}

.user-card-username {
  flex: 1 1 0%;
  box-sizing: border-box;
  max-width: 20%;
  text-align: start;
  font-size: 30px;
  font-family: Roboto, serif;
  color: black;
  font-weight: bold;
  padding-top: 25px;

}

.user-card-certification {
  flex: 1 1 0%;
  box-sizing: border-box;
  max-width: 5%;
  padding-top: 25px;
}

.user-card-certification fa-icon {
  color: #00643C;
}

.user-card-button-add {
  flex: 1 2 80%;
  box-sizing: border-box;
  max-width: 14%;
  padding-top: 25px;
}

.user-card-menu {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 5%;
  padding-top: 25px;
  color: #00643C;
}

.user-card-empty {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 40%;
}

.user-card-div-row-2 {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}

.user-card-infos {
  flex: 1 2 80%;
  box-sizing: border-box;
  max-width: 75%;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 15px;
  color: black;
  font-family: Roboto, serif;
}

.mat-tab-body {
  position: relative;
  flex-basis: 14%;
}


.fa-chevron-circle-down {
  color: #00643C;
  border: hidden;
}

.dropdown-toggle::after {
  content: initial
}

.tab-user-profil.dropdown-toggle {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

/* Styles for tab labels */
.tab-group-user-profil.mat-tab-label {
  min-width: 250px !important;
  background-color: transparent;
  font-weight: 700;
}

/* Styles for the active tab label */
.tab-group-user-profil.mat-tab-label.mat-tab-label-active {
  min-width: 250px !important;
  background-color: transparent;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: #00643C;
}
