<div class="rounded-pill border d-flex p-2 card-user my-3" fxFlex fxLayoutAlign="row">
  <div class="mr-2" fxFlex fxLayoutAlign="row start center">
    <img [routerLink]="['/user/' + user.username]"
         [src]="user?.profilePicture?.link | imageUrl"
         alt=""
         class="rounded-circle me-2"
         height="50" style="object-fit: cover" width="50">
    <p class="my-3"><a [routerLink]="['/user/' + user.username]">{{user.username}}</a>
      <fa-icon *ngIf="user.certification != null" [icon]="faCheckCircle"></fa-icon>
    </p>
  </div>
  <div *ngIf="user.username !== _authService.getCurrentUsername()" fxFlex fxLayoutAlign="end center">
    <button (click)="this.askFriend()" *ngIf="friendshipRequest === allFriendRequestStatus.NONE"
            class="ml-auto button-add-friend" mat-raised-button><i aria-hidden="true"
                                                                   class="fa fa-user-plus"></i> Ajouter
    </button>
    <button (click)="this.removeFriend()" *ngIf="friendshipRequest === allFriendRequestStatus.BEFRIENDED"
            class="button-add-friend" mat-raised-button
            matTooltip="Enlever de la liste des amis"
            matTooltipPosition="above">
      Retirer des amis
    </button>
    <button (click)="cancelRequest()" *ngIf="friendshipRequest === allFriendRequestStatus.PENDING"
            class="ml-auto button-add-friend-disable"
            mat-raised-button><span>Invitation envoyé</span>
    </button>
    <div class="">
      <a (click)="this.delFriendshipRequest()" class=" button-reject-invitation"
         *ngIf="friendshipRequest === allFriendRequestStatus.RECEIVED"
         style=" padding-right: 10px" label="Rejeter l'invitation">
        <fa-icon [icon]="faTimes" size="2x" style="color: red"></fa-icon>
      </a>
      <button (click)="this.acceptFriendship()"
              *ngIf="friendshipRequest === allFriendRequestStatus.RECEIVED"
              class="button-add-friend" mat-raised-button
              matTooltip="Accepter la demande d'amis"
              matTooltipPosition="above"> accepter
      </button>
    </div>
  </div>
</div>
