<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <div class="container">
        <div class="row-cols-auto justify-content-center">
          <a routerLink="/">
            <img class="user-select-none" src="assets/images/logo.png" height="140" alt="">
          </a>
          <h2>S'inscrire sur<br>Agir pour tous</h2>
        </div>
      </div>
      <form class="form-group">
        <div class="rounded-3 border p-3">
          <div class="m-2">
            <label>
              Identifiant
              <input type="text" class="rounded-pill form-control">
            </label>
          </div>
          <div class="m-2">
            <label>
              email
              <input type="email" class="rounded-pill form-control">
            </label>
          </div>
          <div class="m-2">
            <label>
              Mot de passe
              <input type="password" class="rounded-pill form-control">
            </label>
          </div>
          <div class="m-2">
            <label>
              Confirmer
              <input type="password" class="rounded-pill form-control">
            </label>
          </div>
        </div>
        <div class="row-cols-1 my-3">
          <button mat-raised-button>S'inscrire</button>
        </div>
      </form>
    </div>
  </div>
</div>

