<div *ngIf="(_organisationService.organisation|async) != undefined" class="row m-0">
  <div class="col-md-3 my-3">
    <app-return-button></app-return-button>
  </div>
  <div class="col-md-5 my-3">
    <div class="profil-user-scroll">
      <div class="orga-card-full">
        <img alt="" class="rounded" height="300px"
             [src]="(_organisationService.organisation|async).bannerPicture?.link | imageUrl:1360:906"
             style="object-fit: cover" width="100%">
        <div class="orga-card-display">
          <div class="orga-card-div">
            <div class="orga-card-img-profil">
              <img [src]="(_organisationService.organisation|async).profilePicture?.link | imageUrl"
                style="object-fit: cover"
                alt=""
                class="rounded-circle" width="75" height="75">
            </div>
            <div class="orga-card-name">
              <p>{{(_organisationService.organisation|async).name}}</p>
            </div>
            <div class="orga-card-certification">
              <fa-icon [icon]="faCheckCircle"></fa-icon>
            </div>
            <div class="orga-card-empty"></div>
            <div class="orga-card-button" *ngIf="!isAdminB || !isOwnerB">
              <button (click)="this.followOrganisation()" *ngIf="!isFollowing" class="ml-auto button-join-event"
                      mat-raised-button><i aria-hidden="true" class="fa fa-user-plus"></i> Suivre
              </button>
              <button (click)="this.unfollowOrganisation()" *ngIf="isFollowing" class="ml-auto mat-button-event"
                      mat-raised-button>Ne plus suivre
              </button>
            </div>
            <div class="orga-card-menu">
              <div class="dropdown" dropdown>
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle"
                        data-toggle="dropdown"
                        dropdownToggle type="button">
                  <fa-icon [icon]="faEllipsisH"></fa-icon>
                </button>
                <div *dropdownMenu class="dropdown-menu-right dropdown-menu">
                  <button (click)="showDialogueReport()" mat-menu-item>Signaler</button>
                  <div *ngIf="isOwnerB || isAdminB">
                    <button (click)="showDialogueUpdateOrganisation()" mat-menu-item>Modifier</button>
                    <button (click)="showDialogueCreateEvent()" mat-menu-item>Créer un évènement</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-event  ">
        <mat-tab-group dynamicHeight mat-align-tabs="center">
          <mat-tab label="Post">
            <app-list-post [posts]="(_organisationService.organisation|async).posts"></app-list-post>
            <div *ngIf="(_organisationService.organisation|async).posts?.length === 0">
              <p style="text-align: center"> Cette organisation n'a pas de Posts</p>
            </div>
          </mat-tab>
          <mat-tab label="Membres">
            <div *ngIf="!isOwnerB && !isAdminB">
              <mat-list-item *ngFor="let member of (_organisationService.members|async)"
                             style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
                <app-user-card [user]="member"></app-user-card>
              </mat-list-item>
            </div>
            <div *ngIf="isAdminB && !isOwnerB" class="my-3">
              <div *ngFor="let member of (_organisationService.members|async);" class="display-list-user">
                <app-card-user-manage-organisation [isOwner]="false"
                                                   [organisation]="(_organisationService.organisation|async)"
                                                    [user]="member"
                                                   class="m-0"></app-card-user-manage-organisation>
              </div>
            </div>
            <div *ngIf="isOwnerB" class="my-3">
              <div *ngFor="let member of (_organisationService.members|async);" class="display-list-user">
                <app-card-user-manage-organisation [isOwner]="true"
                                                   [organisation]="(_organisationService.organisation|async)"
                                                   [user]="member"
                                                   class="m-0"></app-card-user-manage-organisation>
              </div>
            </div>
            <div *ngIf="(_organisationService.members|async)?.length === 0">
              <p style="text-align: center"> Cette organisation n'a pas de membre</p>
            </div>
          </mat-tab>
          <mat-tab label="Événements">
            <div *ngFor="let event of (_organisationService.eventsCreated|async);">
              <div class="event-list-item m-2 flex">
                <app-card-event [event]="event"></app-card-event>
              </div>
            </div>
            <div *ngIf="(_organisationService.eventsCreated|async)?.length === 0">
              <p style="text-align: center"> Cette organisation n'a pas créer d'évènement</p>
            </div>
          </mat-tab>
          <div *ngIf="isAdminB && isOwnerB">
            <mat-tab label="Gestion">
              <mat-list-item *ngFor="let user of (_organisationService.organisation|async)?.invitedUsers"
                             style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
                <app-user-join-organisation [user]="user" [organisationId]="organisationId"></app-user-join-organisation>
              </mat-list-item>
              <div *ngIf="(_organisationService.organisation|async).invitedUsers?.length === 0">
                <p style="text-align: center">Il n'y a pas de demande en cours</p>
              </div>
            </mat-tab>
          </div>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-3 d-none d-sm-block d-sm-block d-sm-none d-md-block">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>
