.orga-card-full {
  display: inline-block;
  position: relative;
  width: 100%;
}

.orga-card-display {
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(229, 229, 229, 0.08) 0%, rgba(229, 229, 229, 1) 60%);
  color: #fff;
  padding: 10px;
  width: 100%;
  height: 50%;
  border-radius: 5px;
}

.orga-card-div {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}

.orga-card-name {
  box-sizing: border-box;
  text-align: start;
  font-size: 30px;
  font-family: Roboto, serif;
  color: black;
  font-weight: bold;
  padding-top: 25px;
}

.orga-card-certification {
  box-sizing: border-box;
  max-width: 5%;
  padding-top: 63px;
}

.orga-card-empty {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 20%;
}

.orga-card-button {
  box-sizing: border-box;
  max-width: 15%;
  padding-top: 55px;
}

.orga-card-menu {
  box-sizing: border-box;
  max-width: 5%;
  padding-top: 55px;
  color: #00643C;
}

.dropdown-toggle::after {
  content: initial
}

.orga-card-div2 {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}
