<div *ngIf="organisation" class="row m-0">
  <div class="col-md-3 my-3">
    <app-return-button></app-return-button>
  </div>
  <div class="col-md-5 my-3">
    <div class="profil-user-scroll">
      <div class="orga-card-full">
        <img [src]="organisation.bannerPicture?.link | imageUrl:1360:906" alt=""
             class="rounded"
             height="300px"
             style="object-fit: cover" width="100%">
        <div class="orga-card-display">
          <div class="orga-card-div">
            <div fxFlex fxLayoutAlign="row">
              <div fxFlex fxLayoutAlign="row start center">
                <div class="me-2">
                  <img [src]="organisation.profilePicture?.link | imageUrl"
                       alt=""
                       class="rounded-circle"
                       height="75" style="object-fit: cover" width="75">
                </div>
                <div class="orga-card-name">
                  <p>{{organisation.name}}</p>
                </div>
              </div>
              <div fxLayoutAlign="row center end">
                <div *ngIf="!organisation.isAdmin || !organisation.isOwner" class="orga-card-button">
                  <button (click)="this.followOrganisation()" *ngIf="!organisation.isFollower"
                          class="ml-auto button-join-event"
                          mat-raised-button>
                    <fa-icon [icon]="faUserPlus"></fa-icon>
                    Suivre
                  </button>
                  <button (click)="this.unfollowOrganisation()" *ngIf="organisation.isFollower"
                          class="ml-auto mat-button-event"
                          mat-raised-button>Ne plus suivre
                  </button>
                </div>
                <div class="dropdown" dropdown>
                  <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle"
                          data-toggle="dropdown"
                          dropdownToggle type="button">
                    <fa-icon [icon]="faEllipsisH"></fa-icon>
                  </button>
                  <div *dropdownMenu class="dropdown-menu-right dropdown-menu">
                    <button (click)="showDialogueReport()" mat-menu-item>Signaler</button>
                    <div *ngIf="organisation.isOwner || organisation.isAdmin">
                      <button (click)="showDialogueUpdateOrganisation()" mat-menu-item>Modifier</button>
                      <button (click)="showDialogueCreateEvent()" mat-menu-item>Créer un évènement</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-event  ">
        <mat-tab-group dynamicHeight mat-align-tabs="center">
          <mat-tab label="Post">
            <app-list-post [posts]="organisation?.posts"></app-list-post>
            <div *ngIf="organisation?.posts?.length === 0">
              <p style="text-align: center"> Cette organisation n'a pas de Posts</p>
            </div>
          </mat-tab>
          <mat-tab label="Membres">
            <div *ngIf="!organisation.isOwner && !organisation.isAdmin">
              <mat-list-item *ngFor="let member of organisation.members"
                             style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
                <app-user-card [user]="member"></app-user-card>
              </mat-list-item>
            </div>
            <div *ngIf="organisation.isAdmin || organisation.isOwner" class="my-3">
              <div *ngFor="let member of organisation.members;" class="display-list-user">
                <app-card-user-manage-organisation [isOwner]="organisation.isOwner"
                                                   [organisation]="organisation"
                                                   [user]="member"
                                                   class="m-0"></app-card-user-manage-organisation>
              </div>
            </div>
            <div *ngIf="organisation.members?.length === 0">
              <p style="text-align: center"> Cette organisation n'a pas de membre</p>
            </div>
          </mat-tab>
          <mat-tab label="Événements">
            <div *ngFor="let event of organisation.events;">
              <div class="event-list-item m-2 flex">
                <app-card-event [event]="event"></app-card-event>
              </div>
            </div>
            <div *ngIf="organisation.events?.length === 0">
              <p style="text-align: center"> Cette organisation n'a pas créer d'évènement</p>
            </div>
          </mat-tab>
          <div *ngIf="organisation.isAdmin && organisation.isOwner">
            <mat-tab label="Gestion">
              <div *ngIf="organisation?.invitedUsers !== null">
                <mat-list-item *ngFor="let user of organisation?.invitedUsers"
                               style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
                  <app-user-join-organisation [organisationId]="organisation.id"
                                              [user]="user"></app-user-join-organisation>
                </mat-list-item>
              </div>
              <div *ngIf="organisation?.invitedUsers?.length === 0">
                <p style="text-align: center">Il n'y a pas de demande en cours</p>
              </div>
            </mat-tab>
          </div>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-3 d-none d-sm-block d-sm-block d-sm-none d-md-block">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>
