.auth-buttons {
  display: table-cell;
}

mat-toolbar {
  min-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 5px 5px grey;
}

.register-button {
  color: white;
  background-color: #00643C !important;
}
