<mat-toolbar fxFlex fxLayoutAlign="row">
  <div fxFlex fxLayoutAlign="start center">
    <a [routerLink]="['/']">
      <img alt="logo" height="75" src="../../../assets/images/logo.png">
    </a>
    <div>
      <a [routerLink]="['/events']" class="m-4" matRipple>
        <fa-icon [icon]="faCalendarAlt" size="2x"></fa-icon>
      </a>
    </div>
    <div *ngIf="_authService.isAuthenticated()">
      <a class="m-4" href="#" matRipple>
        <fa-icon [icon]="faUserFriends" size="2x"></fa-icon>
      </a>
    </div>
    <div *ngIf="_authService.isAuthenticated()">
      <a class="m-4" href="#" matRipple>
        <fa-icon [icon]="faComments" size="2x"></fa-icon>
      </a>
    </div>
  </div>
  <div fxFlex fxLayoutAlign="center center">
    <app-search-bar class="align-self-center"></app-search-bar>
  </div>
  <div fxFlex fxLayoutAlign="end center">
    <div *ngIf="!_authService.isAuthenticated()" class="auth-buttons">
      <button class="m-2" mat-flat-button routerLink="/login">Connexion</button>
      <button class="m-2 register-button" mat-raised-button routerLink="/register">Inscription</button>
    </div>
    <div *ngIf="_authService.isAuthenticated()">
      <fa-icon [icon]="faBell" size="2x"></fa-icon>
      <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="m-2" mat-raised-button>
        <fa-icon [icon]="faUserFriends"></fa-icon>
        {{_authService.getCurrentUsername()}}
      </button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['/user/' + _authService.getCurrentUsername()]" mat-menu-item>
          <span>Profil</span>
        </button>
        <button mat-menu-item routerLink="/settings">
          <span>Paramètres</span>
        </button>
        <a mat-menu-item [href]="env.backBaseUrl">
          <span>Administration</span>
        </a>
        <button (click)="onDisconnect()" mat-menu-item>
          <span>Déconnexion</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
