<mat-toolbar fxFlex fxLayoutAlign="row">
  <div fxFlex fxLayoutAlign="start center">
    <a [routerLink]="['/']">
      <img alt="logo" height="75" src="../../../assets/images/logo.png">
    </a>
    <div class="overflow-hidden icon-button m-4 p-2">
      <a [routerLink]="['/events']" matRipple>
        <fa-icon [icon]="faCalendarAlt" size="2x"></fa-icon>
      </a>
    </div>
    <div *ngIf="_authService.isAuthenticated()" class="overflow-hidden icon-button m-4 p-2">
      <a [routerLink]="['/friends']" matRipple>
        <fa-icon [icon]="faUserFriends" size="2x"></fa-icon>
      </a>
    </div>
    <div *ngIf="_authService.isAuthenticated()" class="overflow-hidden icon-button m-4 p-2">
      <a [routerLink]="['/my-organisations']" matRipple>
        <fa-icon [icon]="faBuilding" size="2x"></fa-icon>
      </a>
    </div>
  </div>
  <div fxFlex fxLayoutAlign="center center">
    <app-search-bar class="align-self-center"></app-search-bar>
  </div>
  <div fxFlex fxLayoutAlign="end center">
    <div *ngIf="!_authService.isAuthenticated()" class="auth-buttons">
      <button class="m-2" mat-flat-button routerLink="/login">Connexion</button>
      <button class="m-2 register-button" mat-raised-button routerLink="/register">Inscription</button>
    </div>
    <app-notifications *ngIf="_authService.isAuthenticated()" class="overflow-hidden icon-button m-4 p-2"></app-notifications>
    <div *ngIf="_authService.isAuthenticated()">
      <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-raised-button>
        <fa-icon [icon]="faUserFriends"></fa-icon>
        {{_authService.getCurrentUsername()}}
      </button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['/user/' + _authService.getCurrentUsername()]" mat-menu-item>
          <span>Profil</span>
        </button>
        <a *ngIf="(_authService.user|async)?.userType !== userType.USER" [href]="env.backBaseUrl" mat-menu-item>
          <span>Administration</span>
        </a>
        <button (click)="onDisconnect()" mat-menu-item>
          <span>Déconnexion</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
