<div class="border rounded-3 d-flex flex-column p-2 event-list-filter">
  <div class="mb-3 my-3">
    <div class="form-group">
      <div class="px-4">
        <h2>Filtre</h2>
        <mat-divider></mat-divider>
        <div class="row m-0">
          <mat-divider></mat-divider>
          <h3>Localisation</h3>
          <div class="localisation-filter">
            <div class="button-maps">
              <button mat-flat-button (click)="showDialogMapsCollapse()">
                <i class="fas fa-map-marked"></i>
              </button>
            </div>
            <div class="localisation-text">
              <p *ngIf="isLocated == false"> Vous n'êtes pas localisé</p>
              <p *ngIf="isLocated == true">{{userLocalisation}}</p>
            </div>
          </div>
        </div>
        <div class="row m-1" style="padding-top: 15px">
          <mat-divider></mat-divider>
          <h3>Période</h3>
          <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="row m-2">
          <mat-divider></mat-divider>
          <h3>Distance (km)</h3>
          <mat-slider
            thumbLabel
            class="range-picker"
            [displayWith]="formatLabel"
            tickInterval="10"
            step="10"
            min="0"
            max="5000"
            aria-label="units"></mat-slider>
        </div>
        <div class="row m-3">
          <mat-divider></mat-divider>
          <h3>Type d'évènement</h3>
          <section class="section-checkbox">
            <ul>
              <li  *ngFor="let typeEvent of listTypeEvent">
                <mat-checkbox class="mat-checkbox">{{typeEvent}}</mat-checkbox>
              </li>
            </ul>
          </section>
        </div>
      </div>
      <button mat-flat-button (click)="filterRecherche()">Rechercher</button>
    </div>
  </div>
</div>
