<div class="rounded-pill border d-flex p-2 card-user my-3">
  <div class="mr-2">
    <img [src]="user.profilePicture || 'https://picsum.photos/50/50'"  [routerLink]="['/user/', user.username]" class="rounded-circle"
         width="50" alt="">
  </div>
  <div class="spacer"></div>
  <p class="my-3"><a [routerLink]="['/user/', user.username]">{{user.username}}</a></p>
  <div class="spacer"></div>
  <button *ngIf="canAdd()" mat-raised-button class="ml-auto button-add-friend" (click)="this.addFriend(user.username)"><i class="fa fa-user-plus" aria-hidden="true"></i> Ajouter</button>
  <button *ngIf="!canAdd()" mat-raised-button class="ml-auto button-add-friend" (click)="this.addFriend(user.username)"><i class="fa fa-user-plus" aria-hidden="true"></i> Ajouter</button>
</div>
