.button-add-friend{
  color: white;
  background-color: #00643C !important;
}

.spacer {
  flex: 1 1 auto;
}

.center {
  flex: 1 1 auto;
  text-align: center;
}

p {

}
p a {
  text-decoration: none;
  color: black;
}
