<div [routerLink]="'/post/'+post?.id" class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div [routerLink]="'/user/'+post?.creator?.username"
           class="d-flex justify-content-between align-items-center user-infos">
        <div class="mr-2">
          <img [src]="post?.creator?.profilePicture?.link |imageUrl" alt=""
               style="object-fit: cover"
               class="rounded-circle"
               width="50" height="50">
        </div>
        <div class="ms-2">
          <div class="h6 m-0">{{post?.creator?.username}}
            <fa-icon *ngIf="post?.creator?.certification" [icon]="faCheckCircle"></fa-icon>
          </div>
          <div class="h7 text-muted">{{post?.creator?.lastname}} {{post?.creator?.firstname}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      {{post?.text}}
    </p>
    <div class="d-inline-block">
      <img *ngFor="let media of post.medias" [src]="media.link | imageUrl" alt="" class="h-50 w-50">
    </div>
    <div *ngIf="post?.sharedEvent" class="event-card">
      <img alt="" class="rounded" height="300px"
           [src]="post?.sharedEvent?.picture?.link|imageUrl: 1360:906"
           style="object-fit: cover" width="100%">
      <div class="event-card-infos">
        <p>{{post.sharedEvent?.description}}</p>
      </div>
    </div>
  </div>
</div>
