<div class="create-post-popup rounded-3" fxFlex fxLayout="column">
  <div class="create-post-text m-2" fxFlex fxLayout="row">
    <div class="create-post-picture">
      <img [alt]="(_authService.user|async)?.username"
           [src]="(_authService.user|async)?.profilePicture?.link| imageUrl"
           class="rounded-circle profile-picture"
           height="50" style="object-fit: cover" width="50">
    </div>
    <div class="w-100">
      <div>
        <mat-form-field appearance="fill" class="create-post-textarea ms-2">
          <textarea (click)="setCaretPosition($event)" (keyup)="setCaretPosition($event)" [(ngModel)]="text" matInput
                    placeholder="Quoi de neuf ?"></textarea>
        </mat-form-field>
      </div>
      <div class="d-inline-block">
        <img *ngFor="let media of mediasURL" [src]="media" alt="" class="rounded-3 w-25 h-25 me-2">
      </div>
      <div *ngIf="data?.sharesPost">
        <app-post-share-card [post]="data.sharesPost"></app-post-share-card>
      </div>
      <div *ngIf="data?.sharedEvent" class="event-card">
        <img [src]="data?.sharedEvent?.picture?.link|imageUrl: 1360:906" alt="" class="rounded"
             height="300px"
             style="object-fit: cover" width="100%">
        <div class="event-card-infos">
          <p>{{data.sharedEvent.name}}</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-0">
  <div class="create-post-options m-2" fxFlex fxLayout="row">
    <div fxFlex fxLayoutAlign="start center">
      <input (change)="addImages($event)" accept="image/png, image/jpeg" id="file-selector" multiple
             style="display: none"
             type="file">
      <fa-icon (click)="openFileSelector()" [icon]="faImage" class="mx-1" size="2x"></fa-icon>
      <fa-icon [icon]="faSmile" [matMenuTriggerFor]="emojiPicker" class="mx-1" size="2x"></fa-icon>
      <mat-menu #emojiPicker class="w-100" overlapTrigger yPosition="below">
        <emoji-mart (click)="$event.stopPropagation()" (emojiSelect)="addEmoji($event)"></emoji-mart>
      </mat-menu>
      <fa-icon [icon]="faCalendarAlt" [matMenuTriggerFor]="eventPicker" class="mx-1" matSuffix size="2x"></fa-icon>
      <mat-menu #eventPicker>
        <input (click)="$event.stopPropagation()"
               (keyup)="searchEvents($event)" matInput
               placeholder="Chercher un événement" type="text">
        <p>Vos événements</p>
        <button (click)="data.sharedEvent=event" *ngFor="let event of (_authService.user|async)?.eventsParticipation"
                mat-menu-item>{{event.name}}</button>
        <div *ngIf="events?.length > 0">
          <p class="text-center fw-bold">Autres événements</p>
          <button (click)="data.sharedEvent=option" *ngFor="let option of events" mat-menu-item>{{option.name}}</button>
        </div>
      </mat-menu>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <button (click)="sendPost()" class="rounded-pill" mat-raised-button>Envoyer</button>
    </div>
  </div>
</div>




