<div class="row m-0">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div>
      <h2 class="text-center">Invitations pour rejoindre une organisations</h2>
      <div *ngIf="(_authService.user|async)?.organisationInvitations?.length === 0">
        <p class="text-center">Vous n'avez pas de demande pour le moment.</p>
      </div>
      <div *ngIf="(_authService.user|async)?.organisationInvitations?.length > 0">
        <div *ngFor="let organisation of (_authService.user|async)?.organisationInvitations" class="mt-3">
          <app-user-ask-join-organisation [organisation]="organisation"></app-user-ask-join-organisation>
        </div>
      </div>
    </div>
    <div>
      <h2 class="text-center">Vos organisations</h2>
      <div *ngIf="(_authService.user|async)?.organisationInvitations?.length === 0">
        <p class="text-center">Vous n'êtes pour le moment pas membre d'une organisation.</p>
      </div>
      <div *ngIf="(_authService.user|async)?.organisations?.length > 0">
        <div *ngFor="let organisation of (_authService.user|async)?.organisations" class="mt-3">
          <app-card-organisation [organisation]="organisation"></app-card-organisation>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-3 d-none d-sm-block d-sm-block d-sm-none d-md-block">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>
