<div class="row m-0" style="height: calc(100% - 80px)">
  <div class="col-md-4">
  </div>
  <div *ngIf="(_postService.posts|async)?.length == 0" class="col-md-4 ">
    <p style="padding-top: 100px">Il n'y a pas de post à afficher</p>
  </div>
  <div *ngIf="(_postService.posts|async)?.length > 0" class="col-md-4 ">
    <cdk-virtual-scroll-viewport autosize style="height: calc(100% - 80px)">
      <div *cdkVirtualFor="let post of (_postService.posts|async)" class="my-3">
        <post [post]="post"></post>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="col-md-4 my-3">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>
