<div class="row m-0">
  <div class="col-lg-2 my-3">
    <app-return-button></app-return-button>
  </div>
  <div class="col-md-7 my-3">
    <div class="event-scroll">
      <div>
        <h1>{{event.name}}</h1>
      </div>
      <div class="event-card-full">
        <img alt="" class="rounded" style="object-fit: none"
             src="https://www.ventsud.com/app/uploads/2019/06/belles_plages_Plage_des_Aresquiers_%C2%A9_Delemotte-1360x906.jpg"
             width="100%" height="300px">
        <div class="event-card-infos" class="event-infos">

          <div>
            <p>{{event.description | slice:0:300}}...</p>
          </div>
          <div>
            <p><i class="fas fa-clock"></i> {{event.startDate.getDate()}}/{{event.startDate.getMonth() + 1}}/{{event.startDate.getFullYear()}} -- <i class="fas fa-clock"></i> {{event.endDate.getDate()}}/{{event.endDate.getMonth() + 1}}/{{event.endDate.getFullYear()}}</p>
          </div>
          <button mat-raised-button class="ml-auto button-join-event" (click)="this.joinEvent(event.id)" >Rejoindre</button>
        </div>
      </div>
          <div class="tab-event  ">
            <mat-tab-group dynamicHeight mat-align-tabs="center">
              <mat-tab label="Accueil">
                <app-list-post [listPost]="listPost$"></app-list-post>
              </mat-tab>
              <mat-tab label="Infos">
                <app-event-infos [event]="event"></app-event-infos>
              </mat-tab>
              <mat-tab label="Participants">
                <app-list-user [listUser]="event.participants" ></app-list-user>
              </mat-tab>
            </mat-tab-group>
          </div>
    </div>
  </div>
  <div class="col-md-2 my-3">
    <div class="position-fixed">
      <app-event-suggestion-list></app-event-suggestion-list>
    </div>
  </div>
</div>
