<div class="border rounded-3 d-flex flex-column p-2 event-list-filter">
  <div class="mb-3 my-3">
    <form (ngSubmit)="onclickSubmit()" >
      <div class="px-4">
        <h2>Filtre</h2>
        <mat-divider></mat-divider>
        <div class="row m-0">
          <mat-divider></mat-divider>
          <h3>Localisation</h3>
          <div class="localisation-filter">
            <div class="button-maps">
              <button (click)="showDialogMapsCollapse()" mat-flat-button>
                <i class="fas fa-map-marked"></i>
              </button>
            </div>
            <div class="localisation-text">
              <p *ngIf="isLocated == false"> Vous n'êtes pas localisé</p>
              <p *ngIf="isLocated == true">{{latitude}} / {{longitude}}</p>
            </div>
          </div>
        </div>
        <div class="row m-1">
          <mat-divider></mat-divider>
          <h3>Distance (km)</h3>
          <p style="font-size: 13px">* Vous devez vous localiser pour choisir une distance</p>
          <mat-slider
            [displayWith]="formatLabel"
            aria-label="units"
            class="range-picker"
            [(ngModel)]="searchEventProps.range"
            name="range"
            max="5000"
            min="2"
            step="1"
            thumbLabel tickInterval="10"></mat-slider>
        </div>
        <div class="row m-2" style="padding-top: 15px">
          <mat-divider></mat-divider>
          <h3>Période</h3>
          <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input [(ngModel)]="searchEventProps.startDate" name="startDate" matStartDate placeholder="Date de début" >
              <input [(ngModel)]="searchEventProps.endDate" name="endDate" matEndDate placeholder="Date de fin" >
            </mat-date-range-input>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="row m-3">
          <mat-divider></mat-divider>
          <h3>Type d'évènement</h3>
          <mat-form-field class="section-checkbox">
            <mat-select [(ngModel)]="searchEventProps.categoryId"  matNativeControl name="categoryId" >
              <mat-option *ngFor="let category of (_categoryService.categories|async)" value="{{category.id}}">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button class="button-validate rounded-pill" mat-raised-button type="submit">Rechercher</button>
    </form>
  </div>
</div>
