<div class="border rounded-3 d-flex flex-column p-2 event-list-filter">
  <div class="mb-3 my-3">
    <div class="px-4">
      <h2>Filtre</h2>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          <h3>Localisation</h3>
          <mat-divider></mat-divider>
          <button mat-flat-button (click)="showModelMapsCollapse()">
            <i class="fas fa-map-marked"></i>
          </button>
          <p *ngIf="isLocated == false"> Vous n'êtes pas localisé</p>
          <p *ngIf="isLocated == true">Je sais pas ou trouver l'info</p>
        </mat-list-item>
        <mat-list-item>
          <h3>Période</h3>
          <mat-divider></mat-divider>
          <p> mettre un mat-date-range-picker</p>
        </mat-list-item>
        <mat-list-item>
          <h3>Distance (km)</h3>
          <mat-divider></mat-divider>
          <mat-slider
            thumbLabel
            [displayWith]="formatLabel"
            tickInterval="10"
            step="10"
            min="0"
            max="5000"
            aria-label="units"></mat-slider>
        </mat-list-item>
        <mat-list-item>
          <h3>Type d'évènement</h3>
          <mat-divider></mat-divider>
          <p>metre checkBox</p>
        </mat-list-item>
      </mat-list>
    </div>

  </div>
</div>
