.event-list-filter {
  position: absolute;
  top: 100px;
  margin-left: 75px;
  text-align: center;
  width: 300px;
  height: auto;
  background: #F6F6F6;
  border-color: #ADADAD;
}

.mat-checkbox-item {
  height: 400px;
}

ul {
  list-style-type: none;
  text-align: left;
}

li {

}

.mat-list-item {
  display: flex;
}

.mat-checkbox {
  position: relative;
}

.localisation-filter {
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}

.button-maps {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 40%;
}

.localisation-text {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 60%;
  text-align: center;
}
