<div class="m-4">
  <a [matMenuTriggerFor]="menu" class="rounded-circle" matRipple>
    <fa-icon [icon]="faBell" size="2x"></fa-icon>
  </a>
  <div>
    <mat-menu #menu="matMenu" xPosition="before">
      <h3 (click)="$event.stopPropagation()" fxLayoutAlign="center start">Notifications</h3>
      <app-user-ask-join-organisation (click)="$event.stopPropagation()"
                                      *ngFor="let organisation of (_authService.user|async)?.organisationInvitations"
                                      [organisation]="organisation"></app-user-ask-join-organisation>
      <app-user-card (click)="$event.stopPropagation()"
                     *ngFor="let request of (_authService.user|async)?.friendRequests"
                     [user]="request.sender"></app-user-card>
    </mat-menu>
  </div>
</div>
