<div class="row m-0">
  <div class="col-md-3 my-3">
    <app-return-button></app-return-button>
    <div class="page-vent-button-owner" *ngIf="isOwner()">
      <app-update-event [event]="event"></app-update-event>
    </div>
  </div>
  <div class="col-md-6 my-3">
    <div class="event-scroll">
      <div class="event-card-full">
        <img alt="" class="rounded" style="object-fit: none"
             src="https://www.ventsud.com/app/uploads/2019/06/belles_plages_Plage_des_Aresquiers_%C2%A9_Delemotte-1360x906.jpg"
             width="100%" height="300px">
        <div class="event-card-infos-event">
          <div class="event-card-text-infos">
            <div flflex="60" class="titre-event">
              <p>{{event.name}}</p>
            </div>
            <div flflex="20" class="button-join" >
              <button *ngIf="canJoin(event.id)" mat-raised-button class="ml-auto button-join-event" (click)="this.joinEvent(event.id)" ><i class="fa fa-user-plus" aria-hidden="true"></i>  Rejoindre</button>
              <button *ngIf="!canJoin(event.id)" mat-raised-button class="ml-auto button-join-event" (click)="this.leaveEvent(event.id)"> Quittez</button>
            </div>

            <div class="dropdown-event" flflex="20">
              <div  class="dropdown" dropdown>
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                        dropdownToggle type="button">
                  <fa-icon [icon]="faEllipsisH"></fa-icon>
                </button>
                <div *dropdownMenu class="dropdown-menu-right dropdown-menu">
                  <a class="dropdown-item" href="#">Signaler</a>
                </div>
              </div>
            </div>
          </div>
          <div class="description-area-event">
            <div flflex="30" class="description-event">
              <p>{{event.description | slice:0:200}}...</p>
            </div>
          </div>
          <div class="date-area-event">
            <div flflex="30" class="dates-event">
              <p><i class="fas fa-clock"></i> {{event.startDate.getDate()}}/{{event.startDate.getMonth() + 1}}/{{event.startDate.getFullYear()}} {{event.startDate.getHours()}}H{{event.startDate.getMinutes()}} -- {{event.endDate.getHours()}}H{{event.endDate.getMinutes()}}</p>
            </div>
          </div>

        </div>
      </div>
          <div class="tab-event" >
            <mat-tab-group class="mat-tab-event" dynamicHeight mat-align-tabs="center" color="#00643C"  backgroundColor="#00643C">
              <mat-tab label="Accueil">
                <app-list-post [listPost]="listPost$"></app-list-post>
              </mat-tab>
              <mat-tab label="Infos">
                <app-event-infos [event]="event"></app-event-infos>
              </mat-tab>
              <mat-tab label="Participants">
                <app-list-user [listUser]="event.participants" ></app-list-user>
              </mat-tab>
            </mat-tab-group>
          </div>
    </div>
  </div>
  <div class="col-md-2 my-3">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>
