<div class="row m-0">
  <div class="col-md-3 my-3">
    <app-return-button></app-return-button>
  </div>
  <div class="col-md-6 my-3">
    <div class="event-scroll">
      <div class="event-card-full">
        <img
          [src]="(_eventService.event|async)?.picture?.link || 'https://www.ventsud.com/app/uploads/2019/06/belles_plages_Plage_des_Aresquiers_%C2%A9_Delemotte-1360x906.jpg'"
          alt="" class="rounded"
          height="300px"
          style="object-fit: none" width="100%">
        <div class="event-card-infos-event">
          <div class="event-card-text-infos">
            <div fxFlex fxLayoutAlign="row">
              <div fxFlex fxLayoutAlign="row start center">
                <div class="titre-event">
                  <p>{{(_eventService.event|async)?.name}}</p>
                </div>
              </div>
              <div fxLayoutAlign="row center end">
                <button (click)="this.joinEvent(eventId)" *ngIf="!(_eventService.event|async)?.isMember" class="ml-auto"
                        mat-raised-button><i aria-hidden="true" class="fa fa-user-plus"></i> Rejoindre
                </button>
                <button (click)="this.leaveEvent(eventId)" *ngIf="(_eventService.event|async)?.isMember" class="ml-auto"
                        mat-raised-button> Quitter
                </button>
                <div class="dropdown" dropdown>
                  <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle"
                          data-toggle="dropdown"
                          dropdownToggle type="button">
                    <fa-icon [icon]="faEllipsisH"></fa-icon>
                  </button>
                  <div *dropdownMenu class="dropdown-menu-right dropdown-menu">
                    <button (click)="showDialogueReport()" mat-menu-item>Signaler</button>
                    <div *ngIf="isOwnerB || isAdminB">
                      <button (click)="showDialogueUpdateEvent()" mat-menu-item>Modifier</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="description-area-event">
            <div class="description-event">
              <p>{{(_eventService.event|async)?.description | slice:0:200}}...</p>
            </div>
          </div>
          <div class="date-area-event">
            <div class="dates-event">
              <p><i class="fas fa-clock"></i> {{(_eventService.event|async)?.startDate | date:"dd/MM/YYYY HH:MM"}} -- {{(_eventService.event|async)?.endDate | date:"dd/MM/YYYY HH:MM"}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-event">
        <mat-tab-group backgroundColor="#00643C" class="mat-tab-event" color="#00643C"
                       mat-align-tabs="center">
          <mat-tab label="Accueil">
            <app-list-post [posts]="(_eventService.event|async)?.posts"></app-list-post>
          </mat-tab>
          <mat-tab label="Infos">
            <app-event-infos *ngIf="(_eventService.event|async)" [event]="(_eventService.event|async)"></app-event-infos>
          </mat-tab>
          <mat-tab label="Participants">
            <div *ngIf="!isOwnerB && !isAdminB" class="my-3">
              <div *ngFor="let user of (_eventService.event|async)?.participants;" class="display-list-user">
                <app-user-card [user]="user" class="m-0"></app-user-card>
              </div>
            </div>
            <div *ngIf="isOwnerB || isAdminB" class="my-3">
              <div *ngFor="let user of (_eventService.event|async)?.participants;" class="display-list-user">
                <app-card-user-mange-event [eventId]="eventId" [userSession]="(_authService.user|async)" [user]="user"
                                           class="m-0"></app-card-user-mange-event>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="col-md-2 my-3">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>
