<div class="row m-0">
  <div class="col-md-3 my-3">
    <app-return-button></app-return-button>
  </div>
  <div class="col-md-5 my-3">
    <div class="event-scroll">
      <div class="event-card-full">
        <img [src]="(_eventService.event|async)?.picture?.link | imageUrl:1360:906"
          alt="" class="rounded"
          height="300px"
             style="object-fit: cover" width="100%">
        <div class="event-card-infos-event">
          <div class="event-card-text-infos">
            <div fxFlex fxLayoutAlign="row">
              <div fxFlex fxLayoutAlign="row start center">
                <div class="titre-event">
                  <p>{{(_eventService.event|async)?.name}}</p>
                </div>
              </div>
              <div fxLayoutAlign="row center end">
                <div *ngIf="!(_eventService.event|async)?.isOwner">
                  <button (click)="this.joinEvent()" *ngIf="!(_eventService.event|async)?.isMember" class="ml-auto"
                          mat-raised-button><i aria-hidden="true" class="fa fa-user-plus"></i> Rejoindre
                  </button>
                  <button (click)="this.leaveEvent()" *ngIf="(_eventService.event|async)?.isMember" class="ml-auto"
                          mat-raised-button> Quitter
                  </button>
                </div>
                <div class="dropdown" dropdown>
                  <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle"
                          data-toggle="dropdown"
                          dropdownToggle type="button">
                    <fa-icon [icon]="faEllipsisH"></fa-icon>
                  </button>
                  <div *dropdownMenu class="dropdown-menu-right dropdown-menu">
                    <button (click)="showDialogueReport()" mat-menu-item>Signaler</button>
                    <div *ngIf="(_eventService.event|async)?.isOwner">
                      <button (click)="showDialogueUpdateEvent()" mat-menu-item>Modifier</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="description-area-event">
            <div class="description-event">
              <p>{{(_eventService.event|async)?.description | slice:0:200}}...</p>
            </div>
          </div>
          <div class="date-area-event">
            <div class="dates-event">
              <p><i class="fas fa-clock"></i> {{(_eventService.event|async)?.startDate | date:"dd/MM/YYYY HH:MM"}}
                -- {{(_eventService.event|async)?.endDate | date:"dd/MM/YYYY HH:MM"}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-event">
        <mat-tab-group class="mat-tab-event" color="#00643C"
                       mat-align-tabs="center">
          <mat-tab label="Accueil">
            <div #divContent style="height: 450px">
              <virtual-scroller #scroll [enableUnequalChildrenSizes]="true" [items]="(_eventService.event|async)?.posts"
                                [parentScroll]="divContent" childHeight="1" class="w-100 h-100">
                <div *ngFor="let post of scroll.viewPortItems" class="mt-3 ">
                  <post [post]="post"></post>
                </div>
              </virtual-scroller>
            </div>
          </mat-tab>
          <mat-tab label="Infos">
            <app-event-infos *ngIf="(_eventService.event|async)"
                             [event]="(_eventService.event|async)"></app-event-infos>
          </mat-tab>
          <mat-tab label="Participants">
            <div *ngIf="!(_eventService.event|async)?.isOwner" class="my-3">
              <div *ngFor="let user of (_eventService.event|async)?.participants;" class="display-list-user">
                <app-user-card [user]="user" class="m-0"></app-user-card>
              </div>
            </div>
            <div *ngIf="(_eventService.event|async)?.isOwner" class="my-3">
              <div *ngFor="let user of (_eventService.event|async)?.participants;" class="display-list-user">
                <app-card-user-manage-event [eventId]="eventId" [user]="user"
                                           class="m-0"></app-card-user-manage-event>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-3 d-none d-sm-block d-sm-block d-sm-none d-md-block">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>
