<h1 class="update-event-title" mat-dialog-title>Modification de l'Évènement</h1>
<mat-divider></mat-divider>
<form [formGroup]="formData" (ngSubmit)="onClickSubmit()">
  <div mat-dialog-content>
    <div class="update-event-grid">
      <p>Informations</p>
      <div class="form-field-name-event">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'Évènement</mat-label>
          <input formControlName="name" matInput name="name" placeholder="Nom de l'Évènement"
                 required>
        </mat-form-field>
      </div>
      <div class="form-field-address">
        <mat-form-field appearance="fill">
          <mat-label>Adresse de l'événement</mat-label>
          <div #origin="matAutocompleteOrigin" class="form-group" matAutocompleteOrigin>
            <input (input)="searchAddress($event)" formControlName="postalAddress" [matAutocompleteConnectedTo]="origin"
                   [matAutocomplete]="auto" matInput
                   name="postalAddress" placeholder="Adresse" required>
          </div>
          <mat-autocomplete #auto="matAutocomplete" class="user-select-none">
            <mat-option *ngFor="let option of addresses"
                        [value]="option?.address?.house_number + ' ' + option?.address?.road + ', ' + option?.address?.town +' '+ option?.address?.postcode+', '+ option?.address?.country">
              {{option?.address?.house_number}} {{option?.address?.road}}
              , {{option?.address?.town}} {{option?.address?.postcode}}, {{option?.address?.country}}</mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </div>
      <div class="form-field-participant-limit">
        <mat-form-field appearance="fill">
          <mat-label>Nb. de participant Max</mat-label>
          <input formControlName="participantsLimit" matInput min="2" name="participantsLimit"
                 placeholder="Ex. 30" required type="number">
        </mat-form-field>
      </div>
      <div class="form-field-date-picker-start">
        <mat-form-field appearance="fill">
          <mat-label>Date de début</mat-label>
          <input formControlName="startDate" [ngxMatDatetimePicker]="pickerFrom" matInput name="dateStart"
                 placeholder="Date de début" required>
          <mat-datepicker-toggle [for]="pickerFrom" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerFrom></ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div class="form-field-date-picker-end">
        <mat-form-field appearance="fill">
          <mat-label>Date de fin</mat-label>
          <input formControlName="endDate" [ngxMatDatetimePicker]="pickerTo" matInput name="endDate"
                 placeholder="Date de fin"
                 required>
          <mat-datepicker-toggle [for]="pickerTo" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerTo></ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
    </div>
    <div class="form-field-categories">
      <mat-form-field appearance="fill">
        <mat-label>Categories:</mat-label>
        <mat-select formControlName="category" matNativeControl name="category" required>
          <mat-option *ngFor="let category of categories"
                      value="{{category.id}}">{{category?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-field-description">
      <mat-form-field>
        <mat-label>Description de l'Évènement</mat-label>
        <textarea formControlName="description" class="textarea-description" matInput
                  name="description" placeholder="Ex. L'Évènement se ..."></textarea>
      </mat-form-field>
    </div>
    <div class="form-field-update-picture">
      <p>Photo de Bannière</p>
      <a (click)="pictureInput.click()">
        <img
          [src]="mediaURL || (data.event.picture?.link | imageUrl:undefined:undefined:false) || '../../../../assets/images/no-image.png'"
          alt=""
          class="rounded"
          height="300px"
          style="object-fit: cover" width="100%">
      </a>
      <input #pictureInput (change)="onPictureSelected()" formControlName="picture" hidden id="picture"
             name="picture" type="file">
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-actions-update-event" mat-dialog-actions>
    <div class="button-grid-update-event">
      <div class="button-cancel">
        <button (click)="onNoClick()" mat-button type="button">Annuler</button>
      </div>
      <div class="button-send">
        <button class="button-send" mat-raised-button type="submit">Envoyer</button>
      </div>
    </div>
  </div>
</form>
