<h1 class="update-event-title" mat-dialog-title>Modification de l'Évènement</h1>
<mat-divider></mat-divider>
<form #it="ngForm" (ngSubmit)="onClickSubmit(it)">
  <div mat-dialog-content>
    <div class="update-event-grid">
      <div class="form-field-name-event">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'Évènement</mat-label>
          <input [(ngModel)]="updateEvent.name" name="name" matInput placeholder="Nom de l'Évènement"
                 required>
        </mat-form-field>
      </div>
      <div class="form-field-description">
        <mat-form-field>
          <mat-label>Description de l'Évènement</mat-label>
          <textarea [(ngModel)]="updateEvent.description" class="textarea-description" name="description"
                    matInput placeholder="Ex. L'Évènement se ..."></textarea>
        </mat-form-field>
      </div>
      <div class="form-field-address">
        <mat-form-field appearance="fill">
          <mat-label>Adresse de l'Évènement</mat-label>
          <input [(ngModel)]="postalAddress" matInput placeholder="Adresse" required>
        </mat-form-field>
      </div>
      <div class="form-field-participant-limit">
        <mat-form-field appearance="fill">
          <mat-label>Nb. de participant Max</mat-label>
          <input [(ngModel)]="updateEvent.participantsLimit" name="participantsLimit" matInput min="2"
                 placeholder="Ex. 30" required type="number">
          <mat-error *ngIf="limitParticipant.invalid">Min: 2</mat-error>
        </mat-form-field>
      </div>
      <div class="form-field-categories">
        <mat-form-field appearance="fill">
          <mat-label>Categories:</mat-label>
          <mat-select [(value)]="updateEvent.category.name" name="category" matNativeControl required>
            <mat-option *ngFor="let category of listCategory$" value="{{category.id}}">{{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field-date-picker">
        <mat-form-field appearance="fill">
          <mat-label>Entrer la durée de l'Evènement</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input [(ngModel)]="updateEvent.startDate" name="startDate" matStartDate
                   placeholder="Date de début" required>
            <input [(ngModel)]="updateEvent.endDate" name="endDate" matEndDate placeholder="Date de fin"
                   required>
          </mat-date-range-input>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
    <div class="form-field-update-picture">
      <img alt="" class="rounded" height="300px"
           *ngIf="updatedPicture === undefined"
           [src]="updateEvent.picture != undefined? updateEvent.picture.link: '../../../../assets/images/no-image.png'"
           style="object-fit: none" width="100%">
      <img alt="" class="rounded" height="300px"
           *ngIf="updatedPicture != undefined"
           [src]="updatedPicture"
           style="object-fit: none" width="100%">
    </div>
    <div class="form-field-update-picture-button">
      <button type="button" mat-raised-button (click)="pictureInput.click()">Choisissez une photo de Bannière</button>
      <input hidden (change)="onPictureSelected()" #pictureInput type="file" id="picture">
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-actions-update-event" mat-dialog-actions>
    <div class="button-grid-update-event">
      <div class="button-cancel">
        <button (click)="onNoClick()" mat-button>Annuler</button>
      </div>
      <div class="button-send">
        <button class="button-send" mat-raised-button type="submit">Envoyer</button>
      </div>
    </div>
  </div>
</form>
