<h1 class="update-event-title" mat-dialog-title>Modification de l'Évènement</h1>
<form (ngSubmit)="onClickSubmit(formData.value)" [formGroup]="formData">
  <div mat-dialog-content>
    <div class="update-event-grid">
      <div class="form-field-name-event">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'Évènement</mat-label>
          <input [(ngModel)]="data.event.name" formControlName="nameEvent" matInput placeholder="Nom de l'Évènement"
                 required>
        </mat-form-field>
      </div>
      <div class="form-field-description">
        <mat-form-field>
          <mat-label>Description de l'Évènement</mat-label>
          <textarea [(ngModel)]="data.event.description" class="textarea-description" formControlName="descriptionEvent"
                    matInput placeholder="Ex. L'Évènement se ..."></textarea>
        </mat-form-field>
      </div>
      <div class="form-field-address">
        <mat-form-field appearance="fill">
          <mat-label>Adresse de l'Évènement</mat-label>
          <input formControlName="address" matInput placeholder="Adresse" required>
        </mat-form-field>
      </div>
      <div class="form-field-participant-limit">
        <mat-form-field appearance="fill">
          <mat-label>Nb. de participant Max</mat-label>
          <input [(ngModel)]="data.event.participantsLimit" [formControl]="limitParticipant"
                 formControlName="participantsLimitEvent" matInput min="2"
                 placeholder="Ex. 30" required type="number">
          <mat-error *ngIf="limitParticipant.invalid">Min: 2</mat-error>
        </mat-form-field>
      </div>
      <div class="form-field-categories">
        <mat-form-field appearance="fill">
          <mat-label>Categories:</mat-label>
          <mat-select [(value)]="data.event.category.name" formControlName="categoryEvent" matNativeControl required>
            <mat-option *ngFor="let category of listCategory$" value="{{category.id}}">{{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field-date-picker">
        <mat-form-field appearance="fill">
          <mat-label>Entrer la durée de l'Evènement</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input [(ngModel)]="data.event.startDate" formControlName="startDateEvent" matStartDate
                   placeholder="Date de début" required>
            <input [(ngModel)]="data.event.endDate" formControlName="endDateEvent" matEndDate placeholder="Date de fin"
                   required>
          </mat-date-range-input>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="form-field-file">
        <label for="myfile">Choisissez une image :</label>
        <input data-max-size="2048" formControlName="pictureFile" id="myfile" name="myfile" type="file">
      </div>
    </div>
  </div>
  <div class="dialog-actions-update-event" mat-dialog-actions>
    <div class="button-grid-update-event">
      <div class="button-cancel">
        <button (click)="onNoClick()" mat-button>Annuler</button>
      </div>
      <div class="button-send">
        <button class="button-send" mat-raised-button type="submit">Envoyer</button>
      </div>
    </div>
  </div>
</form>
