<div class="rounded-pill border d-flex p-2 card-user my-3">
  <div class="mr-2">
    <img [routerLink]="['/user/' + user.username]" [src]=" user.profilePicture?.link | imageUrl"
         alt=""
         class="rounded-circle"
         height="50" style="object-fit: cover" width="50">
  </div>
  <p class="my-3"><a [routerLink]="['/user/' + user.username]">{{user.username}}</a>
    <fa-icon *ngIf="user.certification != null" [icon]="faCheckCircle"></fa-icon>
  </p>
  <div class="spacer"></div>
  <div *ngIf="user.username !== _authService.getCurrentUsername()" fxFlex fxLayoutAlign="end center">
    <button (click)="this.askFriend()" *ngIf="friendshipRequest === allFriendRequestStatus.NONE"
            class="ml-auto button-add-friend" mat-raised-button><i aria-hidden="true"
                                                                   class="fa fa-user-plus"></i> Ajouter
    </button>
    <button (click)="this.removeFriend()" *ngIf="friendshipRequest === allFriendRequestStatus.BEFRIENDED"
            class="button-add-friend" mat-raised-button
            matTooltip="Enlever de la liste des amis"
            matTooltipPosition="above">
      Retirer des amis
    </button>
    <button (click)="this.showDialogueRespondFriendRequest()"
            *ngIf="friendshipRequest === allFriendRequestStatus.RECEIVED"
            class="ml-auto button-add-friend" mat-raised-button
            matTooltip="Accepter ou Refuser la demande d'amis"
            matTooltipPosition="above"> Répondre
    </button>
    <button (click)="cancelRequest()" *ngIf="friendshipRequest === allFriendRequestStatus.PENDING"
            class="ml-auto button-add-friend-disable"
            mat-raised-button><span>Invitation envoyé</span>
    </button>
  </div>
  <button *ngIf="user.username !== _authService.getCurrentUsername()" [matMenuTriggerFor]="menu" mat-button>Gestion
  </button>
  <mat-menu #menu="matMenu">
    <div>
      <button (click)="this.deleteParticipantEvent(user.id)" mat-menu-item>Retirer Participant</button>
    </div>

  </mat-menu>
</div>
