<div class="rounded-pill border d-flex p-2 card-user my-3">
  <div class="mr-2">
    <img [routerLink]="['/user/' + user.username]" [src]=" user.profilePicture?.link | imageUrl"
         alt=""
         class="rounded-circle"
         height="50" style="object-fit: cover" width="50">
  </div>
  <p class="my-3"><a [routerLink]="['/user/' + user.username]">{{user.username}}</a>
    <fa-icon *ngIf="user.certification != null" [icon]="faCheckCircle"></fa-icon>
  </p>
  <div class="spacer"></div>
  <button [matMenuTriggerFor]="menu" mat-button *ngIf="user.username !== _authService.getCurrentUsername()">Gestion</button >
  <mat-menu #menu="matMenu" >
    <div >
      <button (click)="this.deleteParticipantEvent(user.id)" mat-menu-item>Retirer Participant</button>
      <button (click)="this.askFriend()" *ngIf="user.friendshipStatus === allFriendRequestStatus.NONE"
              class="ml-auto button-add-friend"
              mat-menu-item><i aria-hidden="true" class="fa fa-user-plus"></i> Ajouter
      </button>
      <button (click)="this.removeFriend()" *ngIf="user.friendshipStatus === allFriendRequestStatus.BEFRIENDED"
              class="ml-auto button-add-friend" mat-menu-item matTooltip="Enlever de la list d'amis">
        Enlever
      </button>
      <div *ngIf="user.friendshipStatus === allFriendRequestStatus.RECEIVED">
        <button mat-menu-item [matMenuTriggerFor]="resfFriendship">Répondre</button>
      </div>
      <button *ngIf="user.friendshipStatus === allFriendRequestStatus.PENDING" class="ml-auto button-add-friend-disable"
              mat-menu-item> En Attente
      </button>
    </div>
  </mat-menu>
  <mat-menu #resfFriendship="matMenu">
    <button (click)="this.acceptFriendship()"
            class="ml-auto button-add-friend" mat-menu-item
            matTooltip="Accepter la demande d'amis"
            matTooltipPosition="above"> accepter
    </button>
    <button (click)="this.delFriendshipRequest()"
            class="ml-auto button-add-friend" mat-menu-item
            matTooltip="Rejeter la demande d'amis"
            matTooltipPosition="above"> Rejeter
    </button>
  </mat-menu>
</div>
