<div class="rounded-pill border d-flex p-2 card-user my-3">
  <div class="mr-2">
    <img [src]="user.profilePicture != undefined? user.profilePicture.link :'https://picsum.photos/50/50'"  [routerLink]="['/user/' + user.username]" class="rounded-circle"
         width="50" alt="">
  </div>
  <div class="spacer"></div>
  <p class="my-3"><a [routerLink]="['/user/' + user.username]">{{user.username}}</a> <fa-icon [icon]="faCheckCircle"></fa-icon></p>
  <div class="spacer"></div>
  <div *ngIf="user.id !== userSession.id">
    <button mat-button [matMenuTriggerFor]="menu">Gestion</button>
    <mat-menu #menu="matMenu" >
      <button *ngIf="canAdd == 0" mat-menu-item (click)="this.askFriend(user.username)">Ajouter amis</button>
      <button *ngIf="canAdd == 1" mat-menu-item>Requête envoyé</button>
      <button *ngIf="canAdd == 2" mat-menu-item matTooltip="Enlever de la list d'amis" (click)="this.dellFriend(user.username)">Enlever amis</button>
      <button *ngIf="isOwner || (isAdminOrga && !userIsAdmin) " mat-menu-item (click)="this.deleteMembership(user.id)">Retirer de l'Orga</button>
      <button *ngIf="isOwner && !userIsAdmin" mat-menu-item (click)="this.giveAdmin(user.id)">Donner Admin</button>
      <button *ngIf="isOwner && userIsAdmin" mat-menu-item (click)="this.removeAdmin(user.id)">Retirer Admin</button>
    </mat-menu>
  </div>
</div>
