<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<div class="row m-0">
  <div class="col-md-4">
    <div class="border rounded-3 d-flex flex-column p-2 event-infos-infos">
      <div class="mb-3">
        <div class="px-4">
          <h2>Infos</h2>
          <p><i class="fas fa-user-check"></i> {{event.participants.length}} / {{event.participantsLimit}} participants</p>
          <p><i class="fas fa-clock"></i> {{event.startDate.getDate()}}/{{event.startDate.getMonth() + 1}}/{{event.startDate.getFullYear()}}</p>
          <p><i class="fas fa-tags"></i> {{event.category.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded-3 d-flex flex-column p-2 event-infos-map">
    <div class="m-3">
      <div class="px-4">
        <!-- TODO // trouver un moyen de le rendre dynamique -->
        <h2><i class="fas fa-map-marker-alt"></i> <strong>Dieppe</strong> (76200)</h2>
          <div id="eventInfoMap"></div>
        <button mat-raised-button class="ml-auto button-add-friend" (click)="this.getMap()" >Montrer la carte</button>
      </div>
    </div>
  </div>
  <div class="border rounded-3 d-flex flex-column p-2 event-infos-infos">
    <div class="m-3">
      <div class="px-4">
        <mat-list>
          <h2>Organisateur</h2>
          <mat-List-item *ngFor="let organisateur of event.organisation.members">
            <app-user-card [user]="organisateur.user"></app-user-card>
          </mat-List-item>
        </mat-list>

      </div>
    </div>
  </div>
</div>

