<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="container">
        <div class="row-auto justify-content-center">
          <a routerLink="/">
            <img class="user-select-none" src="assets/images/logo.png" height="140" alt="">
          </a>
          <h2>Se connecter à<br>Agir pour tous</h2>
        </div>
      </div>
      <form class="form-group">
        <div class="border p-3">
          <div class="m-2">
            <label>
              Identifiant
              <input type="text" class="rounded-pill form-control">
            </label>
          </div>
          <div class="m-2">
            <label>
              Mot de passe
              <input type="password" class="rounded-pill form-control">
            </label>
          </div>
          <div class="row">
            <div class="col-8">
              <a routerLink="/forgot-password">
                Mot de passe oublié
              </a>
            </div>
            <div class="col-2">
              <a routerLink="/register">
                S'inscrire
              </a>
            </div>
          </div>
        </div>
        <div class="row-cols-1 my-3">
          <button mat-raised-button>Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</div>

