<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="container ">
        <div class="row justify-content-center">
          <div class="col-auto">
            <a routerLink="/" class="d-inline-block">
              <img class="user-select-none" src="assets/images/logo.png" height="140" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="container ">
        <div class="row justify-content-center">
          <div class="col-auto">
            <h1>Se connecter</h1>
          </div>
        </div>
      </div>
      <form class="form-group" [formGroup]="userForm">
        <div class="border p-3">
          <div class="border p-2 alert-warning rounded-3" *ngIf="error">
            <p class="text-wrap m-0" >Authentification impossible, l'identifiant et le mot de passe fournis sont introuvable</p>
          </div>
          <div class="m-2">
            <label class="d-inline">
              Identifiant
              <input type="text" id="username" formControlName="username" class="rounded-pill form-control">
            </label>
          </div>
          <div class="m-2">
            <label class="d-inline">
              Mot de passe
              <input type="password" id="password" formControlName="password" class="rounded-pill form-control">
            </label>
          </div>
          <div class="row">
            <div class="col-8">
              <a routerLink="/forgot-password">
                Mot de passe oublié
              </a>
            </div>
            <div class="col-2">
              <a routerLink="/register">
                S'inscrire
              </a>
            </div>
          </div>
        </div>
        <div class="row-cols-1 my-3">
          <button mat-raised-button type="submit" (click)="onSubmitForm()" [disabled]="submitted">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</div>
