<div *ngIf="showPopup" class="create-organisation-popup rounded-3">
  <form (ngSubmit)="onClickSubmit(formData.value)" [formGroup]="formData">
    <div class="create-organisation-grid">
      <div class="create-organisation-title">
        <p>Création d'une Organisation</p>
      </div>
      <div class="form-field-name-organisation">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'Organisation</mat-label>
          <input formControlName="name" matInput placeholder="Nom de l'Organisation" required>
        </mat-form-field>
      </div>
      <div class="form-field-profil-picture">
        <label for="profilPicture">Image de profile : </label>
        <input data-max-size="2048" formControlName="profilPicture" id="profilPicture" name="profilPicture" type="file">
      </div>
      <div class="form-field-banner-picture">
        <label for="bannerPicture">Bannière : </label>
        <input data-max-size="2048" formControlName="bannerPicture" id="bannerPicture" name="bannerPicture" type="file">
      </div>
      <div class="form-field-button-validate">
        <button class="button-validate rounded-pill" mat-raised-button type="submit">Valider</button>
      </div>
    </div>
  </form>
</div>
<div (click)="closePopup()" *ngIf="showPopup" class="popup-blur"></div>
<div class="create-organisation-button">
  <button (click)="openPopup()" [disabled]="showPopup" class="rounded-pill" mat-raised-button>Créer une Organisation
  </button>
</div>
