<div class="grid-container">
  <div class="grid-item item1">
    <div class="border rounded-3 d-flex flex-column p-2 event-infos-infos">
      <div class="mb-3">
        <div class="px-4">
          <h2>Infos</h2>
          <p><span><fa-icon [icon]="faUserCheck"></fa-icon> {{event.participants?.length}} </span><span
            *ngIf="event.participantsLimit>0"> / {{event.participantsLimit}}</span><span>participants</span></p>
          <p><fa-icon [icon]="faClock"></fa-icon> {{event.startDate | date:"dd/MM/YYYY HH:MM"}}</p>
          <p><fa-icon [icon]="faClock"></fa-icon> {{event.endDate | date:"dd/MM/YYYY HH:MM"}}</p>
          <p><fa-icon [icon]="faTags"></fa-icon> {{event.category?.name}}</p>
          <div *ngIf="event.organisation">
            <app-card-organisation [organisation]="event.organisation"></app-card-organisation>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item item2">
    <div class="border rounded-3 d-flex flex-column p-2 event-infos-map">
      <div class="px-4 h-100 w-100">
        <h2><fa-icon [icon]="faMapMarkerAlt"></fa-icon> {{address?.address?.town}} ({{address?.address?.postcode}})</h2>
      </div>
      <div style="width: 100%;height:200px;">
        <app-map [dragging]="true" [latitude]="event.latitude" [longitude]="event.longitude"
                 [zoomControl]="true"></app-map>
      </div>
    </div>
  </div>
  <div class="grid-item item3">
    <div class="border rounded-3 d-flex flex-column p-2 event-infos-infos">
      <div class="m-3">
        <div class="px-4">
          <mat-list>
            <h2>Organisateur</h2>
            <div *ngIf="event.organisation">
              <app-card-organisation [organisation]="event.organisation"></app-card-organisation>
            </div>
            <div *ngIf="event?.user">
              <app-user-card [user]="event?.user"></app-user-card>
            </div>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>
