<link crossorigin="" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      rel="stylesheet"/>
<script crossorigin=""
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<div class="grid-container">
  <div class="grid-item item1">
    <div class="border rounded-3 d-flex flex-column p-2 event-infos-infos">
      <div class="mb-3">
        <div class="px-4">
          <h2>Infos</h2>
          <p><i class="fas fa-user-check"></i> {{participantNumber}} / {{event.participantsLimit}} participants</p>
          <p><i class="fas fa-clock"></i> {{event.startDate.toString() | slice: 8: 10 }}
            /{{event.startDate.toString() | slice: 5: 7}}
            /{{event.startDate.toString() | slice: 0: 4}} {{event.startDate.toString() | slice: 11 : 16}} </p>
          <p><i class="fas fa-clock"></i> {{event.endDate.toString() | slice: 8: 10 }}
            /{{event.endDate.toString() | slice: 5: 7}}
            /{{event.endDate.toString() | slice: 0: 4}} {{event.endDate.toString() | slice: 11 : 16}} </p>
          <p><i class="fas fa-tags"></i> {{event.category.name}}</p>

          <app-card-organisation [organisation]="event.organisation" *ngIf="isOrganisation"></app-card-organisation>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item item2">
    <div class="border rounded-3 d-flex flex-column p-2 event-infos-map">
      <div class="m-3">
        <div class="px-4">
          <!-- TODO : trouver un moyen de le rendre dynamique -->
          <h2><i class="fas fa-map-marker-alt"></i> <strong>Dieppe</strong> (76200)</h2>
          <img alt="" class="rounded image-event-infos" src="../../../../assets/images/image-event-3.png"
               style="object-fit: none">
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item item3"  >
    <div class="border rounded-3 d-flex flex-column p-2 event-infos-infos">
      <div class="m-3">
        <div class="px-4">
          <mat-list>
            <h2>Organisateurs</h2>
            <div *ngIf="isOrganisation">
              <mat-List-item *ngFor="let member of listUser" >
                <app-user-card [userSession]="this.userSession" [user]="member"></app-user-card>
              </mat-List-item>
            </div>
            <app-user-card [user]="event.user" [userSession]="userSession" *ngIf="!isOrganisation"></app-user-card>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>

