<div>
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <div class="mr-2">
            <img [src]="post.creator.profilePicture || 'https://picsum.photos/50/50'" alt="" class="rounded-circle"
                 width="50">
          </div>
          <div class="ml-2">
            <div class="h6 m-0">{{post.creator.username}}
              <fa-icon *ngIf="post.creator.certification" [icon]="faCheckCircle"></fa-icon>
            </div>
            <div class="h7 text-muted">{{post.creator.lastname}} {{post.creator.firstname}}</div>
          </div>
        </div>
        <div>
          <div class="dropdown" dropdown>
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                    dropdownToggle type="button">
              <fa-icon [icon]="faEllipsisH"></fa-icon>
            </button>
            <div *dropdownMenu class="dropdown-menu-right dropdown-menu">
              <a class="dropdown-item" href="#">Signaler</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
        {{post.text}}
      </p>
      <div *ngIf="post.event" class="event-card">
        <img alt="" class="rounded" height="300px"
             src="https://www.ventsud.com/app/uploads/2019/06/belles_plages_Plage_des_Aresquiers_%C2%A9_Delemotte-1360x906.jpg"
             style="object-fit: none" width="100%">
        <div class="event-card-infos">
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <div (click)="likePost()" *ngIf="!post.isLiked" class="card-link text-decoration-none">
        <fa-icon [icon]="faThumbsUp" flip="horizontal"></fa-icon>
        {{post.likes?.length || 0}} Aimer
      </div>
      <div (click)="dislikePost()" *ngIf="post.isLiked" class="card-link text-decoration-none">
        <fa-icon [icon]="faThumbsUp" flip="horizontal"></fa-icon>
        {{post.likes?.length || 0}} Ne plus aimer
      </div>
      <a class="card-link text-decoration-none" href="#">
        <fa-icon [icon]="faComment" flip="horizontal"></fa-icon>
        {{post.commentCount || 0}} Commenter
      </a>
      <a class="card-link text-decoration-none pull-right" href="#">
        <fa-icon [icon]="faShare" flip="horizontal"></fa-icon>
        {{post.shareCount || 0}} Partager
      </a>
    </div>
  </div>
</div>
