<div class="rounded-pill border d-flex p-2 organisation-card my-3">
  <div class="mr-2">
    <a [routerLink]="['/organisation/' + organisation.id]"><i class="far fa-building fa-2x"></i></a>
  </div>
  <div class="spacer"></div>
  <p class="my-3"><a [routerLink]="['/organisation/' + organisation.id]">{{organisation.name}}</a></p>
  <div class="spacer"></div>
  <button (click)="this.followOrganisation()" *ngIf="!isFollowing" class="ml-auto button-follow-orga" mat-raised-button>
    <i aria-hidden="true" class="fa fa-user-plus"></i> Suivre
  </button>
  <button (click)="this.unfollowOrganisation()" *ngIf="isFollowing" class="ml-auto button-follow-orga-disable"
          mat-raised-button matTooltip="Arrêter de suivre l'organisation">Ne plus suivre
  </button>
</div>
