<div class="rounded-pill border d-flex p-2 organisation-card my-3">
  <div class="mr-2">
    <a [routerLink]="['/organisation/' + organisation.name]"><i class="far fa-building fa-2x"></i></a>
  </div>
  <div class="spacer"></div>
  <p class="my-3"><a [routerLink]="['/organisation/' + organisation.name]">{{organisation.name}}</a></p>
  <div class="spacer"></div>
  <button *ngIf="canFollow()" mat-raised-button class="ml-auto button-follow-orga" (click)="this.followOrganisation(organisation.name)"><i class="fa fa-user-plus" aria-hidden="true"></i> Suivre</button>
  <button *ngIf="!canFollow()" mat-raised-button class="ml-auto button-follow-orga-disable" ><i class="fa fa-user-plus" aria-hidden="true"></i> Suivre</button>
</div>
