.organisation-card {
  width: 110%;
  margin-left: -10px;
  background: #E5E5E5;
  border-color: #ADADAD;
  box-shadow: 0 3px 5px grey;
}

.fa-building {
  padding-top: 10px;
  padding-left: 10px;
  color: #00643C;
}

p a {
  text-decoration: none;
  color: black;
}

.button-follow-orga {
  margin-top: 9px;
  height: 30px;
}

.button-follow-orga-disable {
  color: grey;
  margin-top: 9px;
  height: 30px;
  width: 90px;
  font-size: 11px;

}
