<h1 class="update-event-title" mat-dialog-title>Modification du profil</h1>
<mat-divider></mat-divider>
<form (ngSubmit)="onClickSubmit()">
  <div mat-dialog-content>
    <div class="grid-update-user">
      <div class="form-field-update-profilePicture">
        <p> Photo de Profil</p>
        <div class="mr-2">
          <a (click)="profilePictureInput.click()">
            <img [src]="updatedProfilePictureURL || (data.user?.profilePicture?.link | imageUrl:undefined:undefined:false) || '../../../../assets/images/no-image.png'"
                 alt="" class="rounded-circle"
                 height="150px"
                 width="150px">
            <input hidden (change)="onProfilePictureSelected()" #profilePictureInput type="file" id="profilePicture">
          </a>
        </div>
      </div>
      <mat-divider class="mat-divider-1"></mat-divider>
      <div class="form-field-update-bannerPicture">
        <p> Photo de Bannière</p>
        <a (click)="profileBannerInput.click()">
          <img alt="" class="rounded"
               [src]="updatedBannerPictureURL || (data.user?.bannerPicture?.link | imageUrl:undefined:undefined:false) || '../../../../assets/images/no-image.png'"
               style="object-fit: none" width="100%" height="300px">
          <input hidden (change)="onProfileBannerSelected()" #profileBannerInput type="file" id="profileBanner">
        </a>
      </div>
      <mat-divider class="mat-divider-2"></mat-divider>
      <div class="form-field-update-username">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input [(ngModel)]="updatedUser.username" name="username" matInput placeholder="Username" required>
        </mat-form-field>
      </div>
      <div class="form-field-update-firstname">
        <mat-form-field appearance="fill">
          <mat-label>Prénom</mat-label>
          <input [(ngModel)]="updatedUser.firstname" name="firstname" matInput placeholder="Prénom" required>
        </mat-form-field>
      </div>
      <div class="form-field-update-lastname">
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input [(ngModel)]="updatedUser.lastname" name="lastname" matInput placeholder="Nom" required>
        </mat-form-field>
      </div>
      <div class="form-field-update-mail">
        <mat-form-field>
          <mat-label>Mail</mat-label>
          <input matInput placeholder="Mail" [(ngModel)]="updatedUser.mail" name="mail"
                 pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
        </mat-form-field>
      </div>
      <div class="form-field-update-bio">
        <mat-form-field>
          <mat-label>Bio</mat-label>
          <textarea [(ngModel)]="updatedUser.bio" class="textarea-description" name="bio"
                    matInput placeholder="Ex. Je suis..."></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions>
    <div class="grid-button-update-user">
      <div class="button-cancel">
        <button (click)="onNoClick()" mat-button>Annuler</button>
      </div>
      <div class="button-send">
        <button class="button-send" mat-raised-button type="submit">Envoyer</button>
      </div>
    </div>
  </div>
</form>
