<div *ngIf="user?.blocksCurrentUser" fxLayoutAlign="center">
  <h1 class="m-5">L'utilisateur vous a bloqué</h1>
</div>
<div *ngIf="user && !user?.blocksCurrentUser" class="row m-0">
  <div class="col-md-3 my-3">
    <app-return-button></app-return-button>
  </div>
  <div class="col-md-5 my-3">
    <div class="profil-user-scroll">
      <div class="user-card-full">
        <img [src]="user.bannerPicture?.link | imageUrl:1360:900" alt="" class="rounded"
             height="300px"
             style="object-fit: cover" width="100%">
        <div class="user-card-display">
          <div class="user-card-div">
            <div fxFlex fxLayoutAlign="row">
              <div fxFlex fxLayoutAlign="row start center">
                <div class="me-2">
                  <img [src]="user.profilePicture?.link | imageUrl"
                       alt=""
                       class="rounded-circle"
                       height="75"
                       style="object-fit: cover"
                       width="75">
                </div>
                <div class="user-card-username">
                  <p>{{user.username}}</p>
                </div>
                <div class="user-card-certification align-self-center ms-1">
                  <fa-icon *ngIf="user.certification" [icon]="faCheckCircle" size="2x"></fa-icon>
                </div>
              </div>
              <div fxLayoutAlign="row center end">
                <div *ngIf="user.username !== _authService.getCurrentUsername()">
                  <button (click)="this.askFriend()" *ngIf="friendshipRequest === allFriendRequestStatus.NONE"
                          class="ml-auto button-add-friend" mat-raised-button>
                    <fa-icon [icon]="faUserPlus" [style.color]="'white'"></fa-icon> Ajouter
                  </button>
                  <button (click)="this.removeFriend()" *ngIf="friendshipRequest === allFriendRequestStatus.BEFRIENDED"
                          class="button-add-friend" mat-raised-button
                          matTooltip="Enlever de la liste des amis"
                          matTooltipPosition="above">
                    Retirer des amis
                  </button>
                    <a (click)="this.delFriendshipRequest()" class=" button-reject-invitation"
                       *ngIf="friendshipRequest === allFriendRequestStatus.RECEIVED"
                       style=" padding-right: 10px" label="Rejeter l'invitation">
                      <fa-icon [icon]="faTimes" size="2x" style="color: red"></fa-icon>
                    </a>
                    <button (click)="this.acceptFriendship()"
                            *ngIf="friendshipRequest === allFriendRequestStatus.RECEIVED"
                            class="button-add-friend" mat-raised-button
                            matTooltip="Accepter la demande d'amis"
                            matTooltipPosition="above"> accepter
                    </button>
                  <button (click)="this.cancelRequest()" *ngIf="friendshipRequest === allFriendRequestStatus.PENDING"
                          class="ml-auto button-add-friend-disable"
                          mat-raised-button><span>Invitation envoyé</span>
                  </button>
                </div>
                <div class="dropdown" dropdown>
                  <button [matMenuTriggerFor]="menu" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
                          dropdownToggle
                          mat-button type="button">
                    <fa-icon [icon]="faEllipsisH"></fa-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button
                      (click)="showDialogueCreateEvent()"
                      *ngIf="user.username === _authService.getCurrentUsername() && (_authService.user | async)?.certification !== undefined"
                      mat-menu-item>Créer un évènement
                    </button>
                    <div *ngIf="user.username === _authService.getCurrentUsername()">
                      <button (click)="showDialogUpdateUser()" mat-menu-item>Edition du profil</button>
                    </div>
                    <div
                      *ngIf="user.username === _authService.getCurrentUsername() && !user?.certification">
                      <button (click)="showDialogAskCertification()" mat-menu-item>Demander une certification</button>
                    </div>
                    <div
                      *ngIf="user.username === _authService.getCurrentUsername() && user?.certification">
                      <button (click)="showDialogAskOrganisation()" mat-menu-item>Créer une organisation</button>
                    </div>
                    <div *ngIf="(_organisationService.organisationWhereAdmin|async)?.length !== 0">
                      <button [matMenuTriggerFor]="organisationsWhereAdmin" mat-menu-item>Inviter</button>
                    </div>
                    <div *ngIf="user.username !== _authService.getCurrentUsername()">
                      <button (click)="showDialogueReport()" class="text-danger" mat-menu-item>Signaler</button>
                      <button (click)="blockUser()" *ngIf="!user?.isBlocked" class="text-danger"
                              mat-menu-item>Bloquer
                      </button>
                      <button (click)="unblockUser()" *ngIf="user?.isBlocked" class="text-danger"
                              mat-menu-item>Débloquer
                      </button>
                    </div>
                  </mat-menu>
                  <mat-menu #organisationsWhereAdmin="matMenu">
                    <div *ngFor="let organisation of (_organisationService.organisationWhereAdmin|async)">
                      <button (click)="sendJoinOrganisation(organisation.id)"
                              mat-menu-item>{{organisation.name}}</button>
                    </div>
                  </mat-menu>
                  <mat-menu #resfFriendship="matMenu">
                    <button (click)="this.acceptFriendship()"
                            class="ml-auto button-add-friend" mat-menu-item
                            matTooltip="Accepter la demande d'amis"
                            matTooltipPosition="above"> accepter
                    </button>
                    <button (click)="this.delFriendshipRequest()"
                            class="ml-auto button-add-friend" mat-menu-item
                            matTooltip="Rejeter la demande d'amis"
                            matTooltipPosition="above"> Rejeter
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
          <div class="user-card-div-row-2">
            <div class="user-card-infos">
              <p>{{user.bio}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-user-profil">
        <mat-tab-group mat-align-tabs="center" style="min-height: 100%">
          <mat-tab label="Post">
            <div #divContent style="height: 450px">
              <virtual-scroller #scroll [enableUnequalChildrenSizes]="true"
                                [items]="user.createdPosts" (vsEnd)="triggerGetMore($event)"
                                [parentScroll]="divContent" childHeight="1" class="w-100 h-100">
                <div *ngFor="let post of scroll.viewPortItems" class="mt-3">
                  <post (onDelete)="removePost($event)" [post]="post"></post>
                </div>
              </virtual-scroller>
            </div>
          </mat-tab>
          <mat-tab label="Amis">
            <div class="my-3">
              <div *ngFor="let user of user.friends" class="display-list-user">
                <app-user-card [user]="user" class="m-0"></app-user-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Événements">
            <div class="my-3">
              <div *ngFor="let event of user.eventsParticipation">
                <app-card-event [event]="event"></app-card-event>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-3 d-none d-sm-block d-sm-block d-sm-none d-md-block">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>

