<div *ngIf="(_userService.user | async) !== null" class="row m-0">
  <div class="col-md-3 my-3">
    <app-return-button></app-return-button>
  </div>
  <div class="col-md-5 my-3">
    <div class="profil-user-scroll">
      <div class="user-card-full">
        <img alt="" class="rounded" height="300px"
             src="{{(_userService.user | async).bannerPicture != undefined? (_userService.user | async).bannerPicture.link: 'https://www.ventsud.com/app/uploads/2019/06/belles_plages_Plage_des_Aresquiers_%C2%A9_Delemotte-1360x906.jpg'}} "
             style="object-fit: none" width="100%">
        <div class="user-card-display">
          <div class="user-card-div">
            <div class="user-card-img-profil">
              <img [src]="(_userService.user | async).profilePicture != undefined? (_userService.user | async).profilePicture.link: 'https://picsum.photos/50/50'"
                   alt=""
                   class="rounded-circle" width="75">
            </div>
            <div class="user-card-username">
              <p>{{(_userService.user | async).username}}</p>
            </div>
            <div class="user-card-certification">
              <fa-icon *ngIf="(_userService.user | async).certification" [icon]="faCheckCircle"></fa-icon>
            </div>
            <div class="user-card-empty"></div>
            <div *ngIf="(_userService.user | async).username !== _authService.getCurrentUsername()">
              <button (click)="this.askFriend()" *ngIf="friendshipRequest === allFriendRequestStatus.NONE"
                      class="ml-auto button-add-friend" mat-raised-button><i aria-hidden="true"
                                                                                      class="fa fa-user-plus"></i> Ajouter
              </button>
              <button (click)="this.removeFriendship()" *ngIf="friendshipRequest === allFriendRequestStatus.BEFRIENDED"
                      class="ml-auto button-add-friend" mat-raised-button
                      matTooltip="Enlever de la list d'amis"> Enlever
              </button>
              <button (click)="this.showDialogueRespondFriendRequest()" *ngIf="friendshipRequest === allFriendRequestStatus.RECEIVED"
                      class="ml-auto button-add-friend" mat-raised-button
                      matTooltip="Accepter ou Refuser la demande d'amis"> Répondre
              </button>
              <button *ngIf="friendshipRequest === allFriendRequestStatus.PENDING" class="ml-auto button-add-friend-disable"
                      mat-raised-button> En Attente
              </button>
            </div>
            <div class="user-card-menu">
              <div class="dropdown" dropdown>
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle"
                        data-toggle="dropdown"
                        dropdownToggle type="button">
                  <fa-icon [icon]="faEllipsisH"></fa-icon>
                </button>
                <div *dropdownMenu class="dropdown-menu-right dropdown-menu">
                  <button (click)="showDialogueReport()" mat-menu-item>Signaler</button>
                  <div *ngIf="(_userService.user | async).id === (_authService.user | async).id && (_authService.user | async).certification != undefined">
                    <button (click)="showDialogueCreateEvent()" mat-menu-item>Créer un évènement</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="user-card-div-row-2">
            <div class="user-card-infos">
              <p>{{(_userService.user | async).bio}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-user-profil">
        <mat-tab-group class="tab-group-user-profil" dynamicHeight mat-align-tabs="center">
          <mat-tab label="Post">
              <cdk-virtual-scroll-viewport autosize style="height: 500px; width: 350px" class="justify-content-center w-100">
                <div *cdkVirtualFor="let post of (_userService.user|async).createdPosts" class="my-3">
                  <post [post]="post"></post>
                </div>
              </cdk-virtual-scroll-viewport>
          </mat-tab>
          <mat-tab label="Amis">
            <app-list-user [listUser]="listUser$" [userSession]="(_authService.user | async)"></app-list-user>
          </mat-tab>
          <mat-tab label="Événements">
            <app-profil-list-event [listEvent]="listEvent$" [userSession]="(_authService.user | async)"></app-profil-list-event>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="col-md-2 m-3">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>
