<div class="rounded-pill border d-flex p-2 card-user my-3">
  <div class="mr-2">
    <img [routerLink]="['/user/' + user.username]" [src]="
    user.profilePicture !== undefined? env.apiBaseUrl + '/' + user.profilePicture: 'https://picsum.photos/50/50'"
         alt=""
         class="rounded-circle" width="50">
  </div>
  <p class="my-3"><a [routerLink]="['/user/' + user.username]">{{user.username}}</a>
    <fa-icon *ngIf="user.certification != null" [icon]="faCheckCircle"></fa-icon>
  </p>
  <div class="spacer"></div>
  <button *ngIf="user.username !== _authService.getCurrentUsername()" [matMenuTriggerFor]="menu" mat-button>Gestion
  </button>
  <mat-menu #menu="matMenu">
    <div>
      <button (click)="this.askFriend(user.username)" *ngIf="canAdd(user.id)" mat-menu-item>Ajouter amis</button>
      <button (click)="this.dellFriend(user.username)" *ngIf="!canAdd(user.id)" mat-menu-item
              matTooltip="Enlever de la list d'amis">Enlever amis
      </button>
      <button (click)="this.deleteParticipantEvent(user.id)" mat-menu-item>Retirer Participant</button>
    </div>

  </mat-menu>
</div>
