<div class="row m-0">
  <div class="col-md-4">
  </div>
  <div class="col-md-4" fxFlex
       fxLayout="column">
    <post *ngIf="post" [post]="post" class="w-100"></post>
    <div class="my-2 w-100"
         fxFlex fxLayout="row">
      <div class="rounded-circle profile-picture">
        <img [src]="(_authService.user | async)?.profilePicture?.link | imageUrl"
             alt="" class="me-1 rounded-circle"
             height="50"
             style="object-fit: cover" width="50">
      </div>
      <div (input)="text=$event.target.textContent" [textContent]="text"
           class="bg-light send-comment-textarea p-2 rounded-3" contenteditable="true"
           ondragenter="return false;" ondragover="return false;" placeholder="Envoyez un commentaire"
           spellcheck="true"></div>
    </div>
    <div>
      <div fxFlex fxLayout="end end" style="margin-left: 50px">
        <fa-icon [icon]="faImage" class="mx-1" size="2x"></fa-icon>
        <fa-icon (click)="showEmojiPicker = !showEmojiPicker" [icon]="faSmile" class="mx-1" size="2x"></fa-icon>
        <fa-icon [icon]="faCalendarAlt" class="mx-1" size="2x"></fa-icon>
        <fa-icon [icon]="faUserFriends" class="mx-1" size="2x"></fa-icon>
      </div>
      <button (click)="sendComment()" class="rounded-pill" mat-raised-button type="submit">
        <fa-icon [icon]="faPaperPlane"></fa-icon>
        Envoyer
      </button>
    </div>
    <div>
      <div *ngFor="let comment of post?.comments" class="w-100 my-2">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-3 d-none d-sm-block d-sm-block d-sm-none d-md-block">
    <div class="position-fixed">
      <app-list-event-suggestion></app-list-event-suggestion>
      <app-list-organisation-suggestion></app-list-organisation-suggestion>
    </div>
  </div>
</div>
<emoji-mart (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker" class="emoji-picker"></emoji-mart>
