<div class="rounded-pill border d-flex p-2 card-user my-3" fxFlex fxLayoutAlign="row">
  <div class="mr-2" fxFlex fxLayoutAlign="row start center">
    <img [routerLink]="['/user/' + user.username]"
         [src]=" user?.profilePicture?.link | imageUrl"
         alt=""
         style="object-fit: cover"
         class="rounded-circle me-2" width="50" height="50">
    <p class="my-3"><a [routerLink]="['/user/' + user.username]">{{user.username}}</a>
      <fa-icon *ngIf="user.certification != null" [icon]="faCheckCircle"></fa-icon>
    </p>
  </div>
  <button (click)="cancelJoin()"
          class="ml-auto"
          mat-button><span>Annuler l'invitation</span>
  </button>
</div>
