<h1 class="dialog-title-organisation-request" mat-dialog-title>Demander une Certification</h1>
<form [formGroup]="formGroup" (ngSubmit)="onClickSubmit()">
  <div mat-dialog-content>
    <div class="form-field-name-organisation">
      <mat-form-field appearance="fill">
        <mat-label>Nom de l'Organisation</mat-label>
        <input formControlName="name" matInput name="name"
               placeholder="Nom de l'Organisation" required>
      </mat-form-field>
    </div>
    <mat-form-field class="dialog-organisation-request-text">
      <mat-label>Décrire votre demande</mat-label>
      <textarea formControlName="comment" class="text-area-organisation-request" matInput name="comment"
                placeholder="Ex. je souhaite recevoir la certification car..."></textarea>
    </mat-form-field>
  </div>
  <div class="dialog-actions-organisation-request" mat-dialog-actions>
    <div class="organisation-request-grid">
      <div class="button-cancel">
        <button (click)="onNoClick()" mat-button>Annuler</button>
      </div>
      <div class="button-send">
        <button class="button-send" mat-raised-button type="submit">Envoyer</button>
      </div>
    </div>
  </div>
</form>
