/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@ctrl/ngx-emoji-mart/picker.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

fa-icon {
  color: #00643C;
}

button.mat-raised-button {
  border-radius: 166px 166px 166px 166px;
}

button.mat-flat-button {
  border-radius: 166px 166px 166px 166px;
}

.no-scroll {
  overflow: hidden;
}

