.report-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, [col] auto);
  grid-template-rows: repeat(1, [row] auto);
}
.dialog-title-report {
  text-align: center;
}
.text-area-report  {
  resize: none;
  width: 500px;
}

.text-area-report  {
  width: 100%;
}
.mat-form-field {
  width: 100%;
}
.button-cancel {
   grid-area: 1 / 2 / 1 / 2;
  padding-left: 40px
}
.button-send {
  grid-area: 1 / 3 / 1 / 3;
}
