<div class="row m-0">
  <div class="col-lg-2 my-3">
    <app-return-button></app-return-button>
  </div>
  <div class="col-md-7 my-3">
    <div class="profil-user-scroll">
      <div class="user-card-full">
        <img alt="" class="rounded" style="object-fit: none"
             src="https://www.ventsud.com/app/uploads/2019/06/belles_plages_Plage_des_Aresquiers_%C2%A9_Delemotte-1360x906.jpg"
             width="100%" height="300px">
        <div class="user-card-infos" >
          <div>
            <img [src]="user.profilePicture || 'https://picsum.photos/50/50'" class="rounded-circle"
                 width="50" alt="">
          </div>
          <div>
            <p>{{user.username}}</p>
            <fa-icon *ngIf="user.certification" [icon]="faCheckCircle"></fa-icon>
          </div>
          <div>
            <div *ngIf="isNotAlreadyFriend()">
              <button mat-raised-button class="ml-auto button-join-event" (click)="this.askFriend(user.id)" >Rejoindre</button>
            </div>
            <div *ngIf="!isNotAlreadyFriend()">
              <button mat-raised-button class="ml-auto mat-button-disabled" (click)="this.askFriend(user.id)" >Rejoindre</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-event  ">
        <mat-tab-group dynamicHeight mat-align-tabs="center">
          <mat-tab label="Post">
            <app-list-post [listPost]="listPost"></app-list-post>
          </mat-tab>
          <mat-tab label="Amis">
            <app-list-user [listUser]="listUser$"></app-list-user>
          </mat-tab>
          <mat-tab label="Événements">
            <app-profil-list-event [listEvent]="listEvent$"></app-profil-list-event>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="col-md-2 my-3">
    <div class="position-fixed">
      <app-event-suggestion-list></app-event-suggestion-list>
    </div>
  </div>
</div>
