<div class="row m-0">
  <div class="col-md-3 my-3">
    <app-return-button></app-return-button>
  </div>
  <div class="col-md-5 my-3">
    <div class="profil-user-scroll">
      <div class="user-card-full">
        <img alt="" class="rounded" style="object-fit: none"
             src="https://www.ventsud.com/app/uploads/2019/06/belles_plages_Plage_des_Aresquiers_%C2%A9_Delemotte-1360x906.jpg"
             width="100%" height="300px">
        <div class="user-card-display" >
          <div class="user-card-div">
            <div class="user-card-img-profil">
              <img [src]="user.profilePicture || 'https://picsum.photos/50/50'" class="rounded-circle"
                   width="75" alt="">
            </div>
            <div class="user-card-username">
                <p>{{user.username  }}</p>
            </div>
            <div class="user-card-certification">
              <fa-icon *ngIf="user.certification" [icon]="faCheckCircle" ></fa-icon>
            </div>
            <div class="user-card-empty"></div>
            <div class="user-card-button-add">
              <div *ngIf="isNotAlreadyFriend()">
                <button mat-raised-button class="ml-auto button-join-event" (click)="this.askFriend(user.username)" ><i class="fa fa-user-plus" aria-hidden="true"></i> Ajouter</button>
              </div>
              <div *ngIf="!isNotAlreadyFriend()">
                <button mat-raised-button class="ml-auto button-join-event"> Ajouter</button>
              </div>
            </div>
            <div class="user-card-menu">
              <div  class="dropdown" dropdown>
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                        dropdownToggle type="button">
                  <fa-icon [icon]="faEllipsisH"></fa-icon>
                </button>
                <div *dropdownMenu class="dropdown-menu-right dropdown-menu">
                  <a class="dropdown-item" href="#">Signaler</a>
                </div>
              </div>
            </div>
          </div>
          <div class="user-card-div-row-2">
            <div class="user-card-infos">
              <p>Nombre de post: {{user.createdPosts.length }} -- A Participer à {{listEvent$.length}} Événements</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-user-profil">
        <mat-tab-group dynamicHeight mat-align-tabs="center" class="tab-group-user-profil">
          <mat-tab label="Post">
            <app-list-post [listPost]="listPost$"></app-list-post>
          </mat-tab>
          <mat-tab label="Amis">
            <app-list-user [listUser]="listUser$"></app-list-user>
          </mat-tab>
          <mat-tab label="Événements">
            <app-profil-list-event [listEvent]="listEvent$"></app-profil-list-event>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="col-md-2 m-3">
    <div class="position-fixed">
      <app-event-suggestion-list></app-event-suggestion-list>
      <app-orga-suggestion-list></app-orga-suggestion-list>
    </div>
  </div>
</div>
