<h1 class="dialog-title-update-orga" mat-dialog-title>Modification de l'Organisation</h1>
<mat-divider></mat-divider>
<form [formGroup]="formData" (ngSubmit)="onClickSubmit()">
  <div mat-dialog-content>
    <div class="update-organisation-grid">
      <div class="form-field-name-organisation">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'Organisation</mat-label>
          <input formControlName="name" matInput name="name"
                 placeholder="Nom de l'Organisation" required>
        </mat-form-field>

      </div>
      <mat-divider class="mat-divider-1"></mat-divider>
      <div class="form-field-update-profilePicture">
        <p> Photo de Profil</p>
        <div class="mr-2">
          <a (click)="profilePictureInput.click()">
            <img *ngIf="updatedProfilePicture === null"
                 [src]="updatedProfilePictureURL || (data.organisation.profilePicture?.link | imageUrl:undefined:undefined:false) || '../../../../assets/images/no-image.png'"
                 alt="" class="rounded-circle"
                 height="150px"
                 style="object-fit: cover" width="150px">
            <input #profilePictureInput (change)="onProfilePictureSelected()" formControlName="profilePicture" hidden id="profilePicture" type="file">
          </a>

        </div>
      </div>
      <mat-divider class="mat-divider-2"></mat-divider>
      <div class="form-field-update-bannerPicture">
        <p> Photo de Bannière</p>
        <a (click)="profileBannerInput.click()">
          <img *ngIf="updatedBannerPicture === null" [src]="updatedBannerPictureURL|| (data.organisation.bannerPicture?.link | imageUrl:undefined:undefined:false) || '../../../../assets/images/no-image.png'" alt=""
               class="rounded"
               height="300px"
               style="object-fit: cover" width="100%">
          <input #profileBannerInput (change)="onProfileBannerSelected()" formControlName="bannerPicture" hidden id="profileBanner" type="file">
        </a>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog-actions-update-orga" mat-dialog-actions>
    <div class="button-grid-update-orga">
      <div class="button-cancel">
        <button (click)="dialogRef.close()" mat-button>Annuler</button>
      </div>
      <div class="button-send">
        <button class="button-send" mat-raised-button type="submit">Envoyer</button>
      </div>
    </div>
  </div>
</form>
